#keywordModal.container-fluid(ng-controller='keywordModalCtrl as kmc')
    .modal-header.row
        .col-xs-10.p0.site-dropdown
            .description Add Keywords to Site
            .w-70p
                select(selectpicker='', data-live-search='true', ng-model='kmc.selectedSite')
                    option.text-bold(ng-repeat='site in kmc.sites') {{ site.name }}
        .col-xs-2.modal-tools
            button(type="button", class="close", ng-click='closeThisDialog(0)')
                span(aria-hidden="true")
                | &times;
    .modal-body.row
        .col-sm-7.col-xs-12
            .row
                .col-sm-4.pr0.col-xs-12
                    h5.title Add Keywords/Phrases.
                .col-sm-6.col-xs-10.text-mode
                    label.radio-inline.c-radio
                        input#inlineradio1(type='radio', name="i-radio", value='option1', checked)
                        span.fa.fa-circle
                        |  Free Text Mode
                    label.radio-inline.c-radio
                        input#inlineradio2(type='radio', name="i-radio", value='option2')
                        span.fa.fa-circle
                        |  Tabular Mode
                .col-sm-2.col-xs-2.clear.text-right
                    a(ng-click='') clear
            .row
                md-input.col-xs-12
                    textarea(class="form-control", id='add-keywords', rows='15' cols='50', ng-model='keywordsInputText', ng-change='getKeywordsFromText()', ng-model-options='{ debounce: 1000 }')
            .row
                .col-xs-12
                    p.text-comment
                        em Pressing enter create a new line, each keyword/phrase can contain multiple words. You may also add Keywords separated by comma, in the Free Text Mode.
        .col-sm-5.col-xs-12.add-package.pr0
            a.title Subscription Package Utilization Limits
            .row.promoted-bar
                .col-xs-10
                    uib-progressbar.progress-striped(type='danger', value='50')
                        span Promoted Keywords 50%
                .col-xs-1.text-left.p0
                    p 250
                .col-xs-1.p0
                    em.icon-question
            .row.monitored-bar
                .col-xs-10
                    uib-progressbar.progress-striped(type='warning', value='71') Monitored Keywords 71%
                .col-xs-1.text-left.p0
                    p 350
                .col-xs-1.p0
                    em.icon-question
            a(href='', ng-click='upgradePackage()')
                | Upgrade Package
            .checkbox.c-checkbox
              label
                input(type='checkbox', value='')
                span.fa.fa-check
                |  Mark Added Keywords for Monitoring SERP Ranking 
                em.icon-question
            .checkbox.c-checkbox
              label
                input(type='checkbox', checked='', value='')
                span.fa.fa-check
                |   Mark Added Keywords for Promotion
                em.icon-question
            .checkbox.c-checkbox
              label
                input(type='checkbox', checked='', value='')
                span.fa.fa-check
                |   Process all Added Keywords Immediatly
                em.icon-question
            .row.text-right
                .col-xs-12
                    button(type="button", class="btn btn-primary ok-button btn-dialog", ng-class="{'disabled': isEmptyKeywordsInput() }", ng-disabled="isEmptyKeywordsInput()", ng-click='addKeywords()')
                        | Add