h3.content-heading
	| Pages
	small Generic info about pages of your site.
#pagesPanel.panel.panel-primary.panel-dark(ng-controller='pagesController as pc')
	.panel-heading
		.panel-title
			.btn-group(uib-dropdown='') 
				button#split-button.btn.btn-default(type='button') Action
				button.btn.btn-default(type='button', uib-dropdown-toggle='')
					span.caret
					span.sr-only Split button!
				ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
					li(role='menuitem', uib-tooltip='Remove Page from System Database. This will not delete or affect original CMS Page')
						a(href='#')
							i.fa.fa-trash
							|  Delete
			.pull-right(style='float: right; margin-right:70px;')
				span View: 
				#view-mode.btn-group(uib-dropdown='')
					button#change-view.btn.btn-default.btn-flat(type='button')
						i.fa.fa-table 
						span {{ pc.currentViewModeTitle }}
					button.btn.btn-default.btn-flat(type='button', uib-dropdown-toggle='')
						span.caret
						span.sr-only View Modes
					ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
						li(role='menuitem')
							a(href='', ng-click='changeTableMode()')
								i.fa.fa-table
								|  Table
						li(role='menuitem')
							a(href='', ng-click='changeListMode()')
								i.fa.fa-list
								|  List
		paneltool(tool-collapse='tool-collapse', tool-refresh='line back-and-forth grow')
	.panel-body(ng-include="getTemplate()")
	.panel-footer