#pages_dashboard.container-fluid.panel.mb0(ng-controller='pagesDashboardController as pageDashCtrl')
    .custom-heading.flex-heading
        .description Pages&nbsp;Dashboard
        .panel-title
            select(selectpicker='', data-live-search='true', ng-model='pageDashCtrl.selectedSite', ng-options='site.name for site in pageDashCtrl.sites')
    .panel-wrapper
        .panel-body.row.pb0.row-eq-height
            .col-md-6(style="display:flow-root;")
                #statistics.panel
                    .panel-heading.sub-heading
                        .panel-title 
                            | Statistics
                            span.text-underline {{ pageDashCtrl.selectedSite.name }}
                        paneltool(tool-collapse, ng-init="statistics=false")
                    .panel-wrapper(uib-collapse="statistics")
                        ul.list-group.m0
                            li.list-group-item
                                span.pull-right.text-center
                                    span.badge.bg-info.text-center 534
                                | Number of Pages Being Promoted
                            li.list-group-item
                                span.pull-right.text-center
                                    span.badge.bg-info.text-center 4
                                | Total number of Pages on website
                            li.list-group-item
                                span.pull-right.text-center
                                    span.badge.bg-info.text-center 4
                                | Average number of Keywords assignd to a Page
                            li.list-group-item
                                span.pull-right.text-center
                                    span.badge.bg-info.text-center 77   
                                | Number of pages with SEO violations
                            li.list-group-item
                                span.pull-right.text-center
                                    span.badge.bg-info.text-center 77   
                                a Best performing Pages
                            li.list-group-item
                                span.pull-right.text-center
                                    span.badge.bg-info.text-center 77   
                                a Least performing Pages
            .col-sm-6
                #statistics1.panel
                    .panel-heading.sub-heading
                        .panel-title 
                            | Statistics
                            span.text-underline {{ pageDashCtrl.selectedSite.name }}
                        paneltool(tool-collapse, ng-init="statistics1=false")
                    .panel-wrapper(uib-collapse="statistics1")
                        .panel-body
                            ul.list-group
                                li.list-group-item.border0
                                    span.pull-right
                                        em.fa.fa-check.text-success
                                        em.fa.fa-toggle-on.text-info
                                    | SiteMap Active
                                li.list-group-item.border0
                                    span.pull-right
                                        em.fa.fa-check.text-success
                                    | Robot TXT
                                li.list-group-item.border0
                                    span.pull-right
                                        em.fa.fa-check.text-success
                                        em.fa.fa-toggle-on.text-info
                                    | Add New Pages Automatically to SEOgenie System
                                li.list-group-item.border0
                                    span.pull-right
                                        em.fa.fa-check.text-success
                                    | Last Report Date: 09-12-2017
