md-step(label="Site details", md-complete="vm.stepData[0].data.completed", ng-disabled="vm.stepProgress < 1")
	md-step-body
		form(name="generalStepForm", role='form', class='form-horizontal form-validate mb-lg')
			md-content(class="md-padding wizard-content")
				div(layout="row", layout-align="center top")
					div(flex="grow")
						.form-group.row.row-fluid
							#web-site-label.col-md-1.col-sm-2
								div(class='text-bold') Website Domain:

							#protocol-select.col-md-2.col-sm-4
								ui-select.text-left(ng-model='vm.protocol.selected', theme='bootstrap', ng-disabled='vm.protocol.disabled')
									ui-select-match 
										span.select-text {{ $select.selected.name }}
									ui-select-choices(repeat='protocol in vm.protocols | filter: $select.search')
										div(ng-bind-html='protocol.name | highlight: $select.search', class='select-text')

							#url-site-address.col-md-4.col-sm-4
								input.form-control(type="text", name="websiteUrl", placeholder='Website URL', ng-model="vm.stepData[0].data.website.url", validator='required, urlProtocolOptional', valid-method="watch", ng-blur="vm.urlVerify(vm.stepData[0].data.website.url)", ng-model-options="{updateOn:'default blur', debounce:{default:0, blur:10000}}")
								span.fa.fa-link.form-control-feedback.link-icon.text-muted

							div.spinner(ng-show='vm.urlChecking')
								div.bounce1
								div.bounce2
								div.bounce3
							i(class="material-icons exclamation-icon fm", ng-if='vm.isUrlError') error_outline
							i(class="material-icons check-ok fm", ng-if='vm.isUrlOk') check_circle
							
							a(href='', target="_blank", ng-if='vm.isUrlError', class='fm mt-sm', ng-click='vm.urlVerify(vm.stepData[0].data.website.url)') 
								i(class='fa fa-refresh', class='mr-sm') 
								| Retry

							a(ng-href='{{vm.protocol.selected.name}}{{vm.stepData[0].data.website.url}}', target="_blank", ng-if='vm.isUrlOk || vm.isUrlError', class='fm mt-sm') 
								i(class='fa fa-external-link', class='mr-sm') 
								| Browse
							i(class="material-icons help-icon", uib-popover="URL address of your website.", popover-trigger="'mouseenter'", popover-animation="true", popover-placement="right") help_outline


						ng-include(src="vm.getTemplate('wizard-general-internal')")

						div(class="mb terms-wrapper")
							label(class="mda-checkbox")
								input(type="checkbox", name='siteAgreement', ng-model='vm.stepData[0].data.isTermOfService', validator="required", initial-validity="true", valid-method="watch", required='')
								em.bg-blue-500
								| I agree to the 
								a(href='', ui-sref='app.eula') Terms of Service
								|  and 
								a(href='', ui-sref='app.privacy-policy') Privacy Policy
								.text-danger(ng-show="generalStepForm.siteAgreement.$dirty && generalStepForm.siteAgreement.$error.required", class="invalid") You must agree the terms
						div(class="mb")
							label(class="mda-checkbox notify-chk")
								input(type="checkbox", checked="")
								em.bg-blue-500
								| Receive Notification's and Updates by Email.
							
							.has-feedback.pb-sm
								#notify-email.col-md-4
									input.form-control(type='email', placeholder='Email', name='notifyEmail', validator='required, email', ng-model='vm.stepData[0].data.userEmail', valid-method="watch", initial-validity="true")
									i(class="material-icons help-icon inline fix", uib-popover="Please enter the email address you wish all reports and notifications to be sent to with regards to this website.", popover-animation="true", popover-placement="right", popover-trigger="'mouseenter'") help_outline

			md-step-actions(layout="row")
				div(flex='', layout="row", layout-align="end top")
					md-button(class="md-warn", ui-sref="app.websites")
						| CANCEL
					md-button(type="submit", class="md-primary md-raised", ng-disabled='vm.disableGeneralStep(generalStepForm)', ng-click='vm.submitCurrentStep(vm.stepData[0].data, false, generalStepForm)')
						| NEXT
