.accordion-item(ng-click='active($event)')
	.collapsed-body.text-center
		em.fa.fa-grip.fa-rotate-90(uib-tooltip="Collapse Panel")
		.rotated-text(ng-if='!isActive()')
			span.rotated-text__inner {{ title }}
.item-body.smoothidden(ng-transclude="")