# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
dist
bower_components
yarn-error.log

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
variables.env