.p(ng-controller='additionalFilterController as afc')
    h5.m0.input-group(ng-click='listc.categoryPane=!listc.categoryPane') Additional Filters
        em.fa.fa-caret-down
    .category-body.mt(ng-if='listc.categoryPane')
        .filter-body.text-left
            .filter-category
                p By Category
                    em.fa.fa-angle-down
                .mda-list.p0(ng-repeat='category in afc.categoriesForFilter')
                    .mda-list-item
                        em.fa.pull-left(ng-class='category.icon')
                        label.mda-checkbox.pull-left
                            input(type='checkbox',
                                  value='{{category.value}}',
                                  ng-model='category.selected',
                                  ng-click='afc.updateCategorySelection()')
                            em.bg-indigo-500
                        label.pull-left {{category.name}}
            .filter-significance
                p Significance
                    em.fa.fa-angle-down
                .mda-list.p0(ng-repeat='significance in afc.significancesForFilter')
                    .mda-list-item
                        label.mda-checkbox.pull-left
                            input(type='checkbox')
                            em.bg-indigo-500
                        label.pull-left {{significance.name}}
                        label.mda-checkbox.pull-right
                            input(type='checkbox', checked='', onclick='return false;')
                            em.empty(ng-class='significance.bg')
            .filter-suitablity
                p Suitability
                    em.fa.fa-angle-down
                .mda-list.p0(ng-repeat='suitablity in afc.suitablitiesForFilter')
                    .mda-list-item
                        label.mda-checkbox.pull-left
                            input(type='checkbox')
                            em.bg-indigo-500
                        label.pull-left {{suitablity.name}}
                        label.mda-checkbox.pull-right
                            input(type='checkbox', checked='', onclick='return false;')
                            em.empty(ng-class='suitablity.bg')