.mda-list.p0
    .mda-list-item
        label.pull-left Bulk Actions
    .mda-list-item(ng-repeat='item in listc.bulkActions')
        em.fa.pull-left(ng-class='item.icon')
        span.pull-left {{ item.label }}