#bulk-actions.mda-list.p0.shadow-z3.bg-white
    .mda-list-item
        label.pull-left Bulk Actions
    .mda-list-item(ng-repeat='item in listc.bulkActions', ng-click='listc.performAction(item.label)')
        em.fa.pull-left(ng-class='item.icon')
        span.pull-left {{ item.label }}