.expanded-keyword.container-fluid
    .row
        .col-lg-7
            #keywordSetting.panel
                .panel-heading.sub-heading
                    .panel-title Settings for Keyword: "{{ row.keyword }}"
                    paneltool(tool-collapse, ng-init="keywordSetting=false")
                .panel-wrapper(uib-collapse="keywordSetting")
                    .panel-body.row
                        .col-lg-7.col-xs-8.p-sm
                            .mda-list.p0
                                .mda-list-item
                                    span.pull-left Promot: Auto Optimise
                                        em.icon-question(uib-tooltip='Promot: Auto Optimise')
                                    span.pull-right.setting-icon
                                        md-switch.pull-left(ng-model='row.category.promoted', aria-label='auto', uib-tooltip='{{{true:"Keyword Auto-Promotion ON", false:"Keyword Auto-Promotion OFF"}[row.category.promoted]}}', ng-change='listc.onActivePromotedKeyword(row)')
                                        span.pull-left(ng-if='row.category.promoted') ON
                                        span.pull-left(ng-if='!row.category.promoted') OFF
                                .mda-list-item
                                    span.pull-left Monitor: SERP Ranking
                                        em.icon-question(uib-tooltip='Monitor: SERP Ranking')
                                    span.pull-right.setting-icon(ng-click='listc.onActiveMonitoredKeyword(row)')
                                        em.fa.fa-line-chart(ng-class='{true:"text-info", false:"text-grey"}[row.category.monitored]', uib-tooltip='{{{true:"SERP Monitoring Active", false:"SERP Monitoring Not Active"}[row.category.monitored]}}')
                                        span(ng-if='row.category.monitored') ON
                                        span(ng-if='!row.category.monitored') OFF
                                .mda-list-item
                                    span.pull-left Default Keyword
                                        em.icon-question(uib-tooltip='Default Keyword')
                                    span.pull-right.setting-icon
                                        em.fa.fa-anchor(ng-class='{true:"text-info", false:"text-grey"}[row.category.default]', uib-tooltip='Default Keyword, will appear on all Pages with no suitable Keywords')
                                        span(ng-if='row.category.default') ON
                                        span(ng-if='!row.category.default') OFF
                                .mda-list-item
                                    span.pull-left Force Keyword Promotion
                                        em.icon-question(uib-tooltip='Force Keyword Promotion')
                                    span.pull-right.setting-icon(ng-click='listc.showMaxAssignmentPane=!listc.showMaxAssignmentPane')
                                        em.fa.fa-bookmark-o(ng-class='{true:"text-info", false:"text-grey"}[row.category.forced]', uib-tooltip='Force this Keyword Promotion and Assignment to Pages despite its poor Significance or Suitability score')
                                        span(ng-if='row.category.forced') {{row.forced_min}}/{{row.forced_max}}
                                        span(ng-if='!row.category.forced') OFF
                                .mda-list-item(ng-if='listc.showMaxAssignmentPane')
                                    .max-assign-setting
                                        input.pull-right.m0.p0.form-control(type='number', min='0', max='9999', ng-model='row.forced_max', ng-change='listc.activeDetailForcedPromotion(row)')
                                        span.pull-right.mr-sm.ml-sm Max
                                        input.pull-right.m0.p0.form-control(type='number', min='0', max='9999', ng-model='row.forced_min', ng-change='listc.activeDetailForcedPromotion(row)')
                                        span.pull-right.mr-sm Pages:&nbsp;Min
                                .mda-list-item
                                    span.pull-left Refresh, Process Keyword
                                        em.icon-question(uib-tooltip='Refresh, Process Keyword')
                                    span.pull-right.setting-icon
                                        em.fa.fa-refresh(uib-tooltip='Refresh, Process Keyword')
                                .mda-list-item
                                    span.pull-left Search Keyword
                                        em.icon-question(uib-tooltip='Search Keyword')
                                    span.pull-right.setting-icon
                                        em.fa.fa-search(ng-click='listc.onSearchWithKeyword(row.keyword)', uib-tooltip='Search Keyword')
                                .mda-list-item
                                    span.pull-left Copy to Clipboard
                                        em.icon-question(uib-tooltip='Copy to Clipboard')
                                    span.pull-right.setting-icon
                                        em.fa.fa-copy(ng-click='listc.copyToClipboard(row.keyword, $event)', uib-tooltip='{{listc.textCopyState}}')
                                .mda-list-item
                                    span.pull-left Remove Keyword
                                        em.icon-question(uib-tooltip='Remove Keyword')
                                    span.pull-right.setting-icon
                                        em.fa.fa-trash-o(uib-tooltip='Remove Keyword', ng-click='listc.removeKeyword(row, $event)')
                        .col-lg-5.col-xs-4.p-sm
                            ui-select(multiple='', ng-model='listc.selectedKeywordCategory', theme='bootstrap')
                                ui-select-match(placeholder='Keyword Category') {{$item}}
                                ui-select-choices(repeat='category in listc.keywordCategories | filter:$select.search') {{category}}
                            .mda-input-group.mt
                                input.mda-form-control(type='text', placeholder='Search Keyword on Website')
                                span.mda-input-group-addon
                                    em.fa.fa-search
        .col-lg-5
            #keywordPerformance.panel
                .panel-heading.sub-heading
                    .panel-title SEO Performance for Keyword: "{{ row.keyword }}"
                    paneltool(tool-collapse, ng-init="keywordPerformance=false")
                .panel-wrapper(uib-collapse="keywordPerformance")
                    .panel-body
                        .row
                            .col-xs-7.p-sm
                                uib-progressbar.progress-striped(type='success', value='82', uib-tooltip='Keyword Suitability index ranks a specific Keyword/Keyphrase across all your website pages, checking its compatibility to SEO related factors of each page. A high Suitability rank means that this particular Keyword/Keyphrase has a high probability of being ranked high in relation to at least one web page. The displayed ranking is based on the last analysis report.', tooltip-placement='bottom')
                                    span.text-black Best Page SEO Suitability 82%
                            .col-xs-5.p-sm
                                a.pull-left.ml-sm
                                    small Recomended Action!
                        .row.mt
                            .col-xs-7.p-sm
                                uib-progressbar.progress-striped(type='success', value='72', uib-tooltip='Keyword Significance index ranks a specific Keyword/Keyphrase across all your website pages, checking its relation to the webpage content/text. A high Significance rank means that this particular Keyword/Keyphrase is highly related to the topic, subject that the webpage text is discussing. The displayed ranking is based on the last analysis report.', tooltip-placement='bottom')
                                    span.text-black Best Page CONTENT Significance 72%
                            .col-xs-5.p-sm
                                a.pull-left.ml-sm
                                    small Recomended Action!
                        .row.mt
                            .col-xs-7.p-sm
                                uib-progressbar.progress-striped(type='success', value='50', uib-tooltip='Best page SERP ranking for the spesific Keyword', tooltip-placement='bottom')
                                    span.text-black Best Rank Position {{row.g}}, Page {{row.activepages}}
                            .col-xs-5.p-sm
                                a.pull-left.ml-sm
                                    small Recomended Action!
    #keywordRankingChart.panel.mb
        .panel-heading.sub-heading
            .panel-title SERP Keyword Ranking "{{ row.keyword }}"
            paneltool(tool-collapse, ng-init="keywordRankingChart=false")
        .panel-wrapper(uib-collapse="keywordRankingChart")
            .panel-body
                div(hc-charts='', options='listc.chartOptions')
                .chart-filter
                    label.report-date.pull-left Report Date: {{ listc.reportDate }}
                    label.pull-right.dropup
                        select(selectpicker='', ng-model='listc.selectedDay', ng-options='(day.name + " Days") for day in listc.filterDays')
    #keywordAssignedPages.panel
        .panel-heading.sub-heading
            .panel-title Pages Assigned to Keyword: "{{ row.keyword }}"
            paneltool(tool-collapse, ng-init="keywordAssignedPages=false")
        .panel-wrapper(uib-collapse="keywordAssignedPages")
            .panel-body
                table.table.table-bordered.table-condensed(st-table="detailDisplayedCollection", st-safe-src='listc.keywordDetailCollection', st-set-filter="additionalFilter", st-detail-filtered-collection)
                    thead.table-control
                        tr
                            td.text-right(colspan="7")
                                .left.ml.mda-input-group
                                    input#searchForpageUrl.mda-form-control(type='text', st-search='pageUrl', placeholder='Filter/Search', ng-click="listc.showDetailAdditionalFilter=true")
                                    span.mda-input-group-addon
                                        em.fa.fa-search
                                    overlay-popup(active='listc.showDetailAdditionalFilter', width='450')
                                        div(ng-include="'app/components/keywords/manage/templates/additionalFilter.html'")
                                .left
                                    fiter-condition(condition-for='pageUrl')
                                .left.pl.filter-title Filter
                                .left.ml
                                    md-switch.m0(ng-model='listc.detailFilterOn', aria-label='filter', uib-tooltip='Reset Filter', tooltip-enable='listc.detailFilterOn',  st-reset='', ng-disabled='!listc.detailFilterOn')
                                .right(st-pagination='', st-items-by-page="listc.detailNumberOfRows", st-template="app/components/_common/templates/pagination.custom.html", st-page-change="listc.detailCurrentPage = newPage")
                                .right.display-rows
                                    label Display
                                    label
                                        select(selectpicker='', ng-model="listc.detailNumberOfRows" ng-options='item.value as item.label for item in listc.detailItemsByPage')
                    thead
                        tr
                            th.text-center.row-index #
                            th(st-sort="pageUrl") Site Pages
                            th.text-center(st-sort="keywords") Keywords
                            th.text-center(st-sort="violate") SEO Violations
                            th.text-center(style='width:10%;') Score
                            //- th.text-center.actions-col(ng-click="listc.showDetailBulkAction=!listc.showDetailBulkAction")
                            //-     label.mda-checkbox
                            //-         input(type='checkbox', ng-model='listc.detailAllRowsMarked', ng-click='$event.stopPropagation()', disabled)
                            //-         em.bg-indigo-500
                            //-     i.fa.fa-caret-down
                                //- overlay-popup#detailBulkActionsPopup(active='listc.showDetailBulkAction', width='205')
                                //-     div(ng-include="'app/components/keywords/manage/templates/detailBulkActions.html'")
                    tbody
                        tr(st-select-row="detail", st-select-mode="multiple", ng-repeat="detail in detailDisplayedCollection", ng-class='{true: "bg-blue-100", false:""}[detail.assignedState]', ng-click='listc.onSelectKeywordDetail(detail, $event)')
                            td.text-center {{ ((listc.detailCurrentPage-1) * listc.detailNumberOfRows) + $index + 1 }}
                            td.keyword-col
                                .left.keyword-label
                                    span.m0(ng-click='listc.onSearchWithKeyword(detail.pageUrl, $event)') {{ detail.pageUrl }}
                                .right.keyword-control
                                    label.m0.right
                                        md-switch(ng-model='detail.category.promoted', aria-label='auto', uib-tooltip='{{{true:"Keyword Auto-Promotion ON", false:"Keyword Auto-Promotion OFF"}[detail.category.promoted]}}', ng-click='$event.stopPropagation()')
                                    em.fa.fa-cog.right.text-grey(uib-tooltip='Keyword Parameters and Settings', ng-click='$event.stopPropagation()')
                                    em.fa.fa-anchor.right(ng-if='detail.category.default', uib-tooltip='Default Keyword, will appear on all Pages with no suitable Keywords', ng-click='$event.stopPropagation()')
                                    em.fa.fa-bookmark-o.right(ng-if='detail.category.forced', uib-tooltip='Force this Keyword Promotion and Assignment to Pages despite its poor Significance or Suitability score', ng-click='$event.stopPropagation()')
                            td.text-center
                                span {{ detail.keywords }}
                            td.text-center
                                em.fa(ng-class='{1:"fa-check text-success", 2:"fa-warning text-warning", 3:"fa-info-circle text-danger"}[detail.violate]')
                                em.fa.fa-caret-down.text-grey
                            td.pl-sm.pr-sm
                                .color-bar
                                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[detail.ranking]', uib-tooltip="SERP Ranking, Page {{row.activepages}}: Position {{row.g}}")
                                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[detail.significance]', uib-tooltip="Significance: 34%")
                                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[detail.suitability]', uib-tooltip="Suitability: 68%")
                            //- td.text-center
                            //-     label.mda-checkbox
                            //-         input(type='checkbox', ng-model='detail.selected', disabled)
                            //-         em.bg-indigo-500
                        tr.no-data-row.text-center(ng-if='detailDisplayedCollection.length < 5')
