.expanded-keyword.container-fluid.p-sm
    .row
        .col-md-6.p-sm
            #keywordSetting.panel.mb-sm
                .panel-heading.sub-heading
                    .panel-title Settings for Keyword: "{{ row.keyword }}"
                    paneltool(tool-collapse, ng-init="keywordSetting=false")
                .panel-wrapper(uib-collapse="keywordSetting")
                    .panel-body.row
                        .col-lg-7.col-xs-8.p0
                            .mda-list.p0
                                .mda-list-item
                                    span.pull-left(uib-tooltip='Promot: Auto Optimise') Promot: Auto Optimise
                                    span.pull-right
                                        md-switch.pull-left(ng-model='row.category.promoted', aria-label='auto', uib-tooltip='{{{true:"Keyword Auto-Promotion ON", false:"Keyword Auto-Promotion OFF"}[row.category.promoted]}}', ng-change='listc.onActiveMonitoredKeyword(row)')
                                        span.pull-left(ng-if='row.category.promoted') ON
                                        span.pull-left(ng-if='!row.category.promoted') OFF
                                .mda-list-item
                                    span.pull-left(uib-tooltip='Monitor: SERP Ranking') Monitor: SERP Ranking
                                    span.pull-right
                                        em.fa.fa-line-chart(ng-class='{true:"text-info", false:"text-grey"}[row.category.monitored]')
                                        span(ng-if='row.category.monitored') ON
                                        span(ng-if='!row.category.monitored') OFF
                                .mda-list-item
                                    span.pull-left(uib-tooltip='Default Keyword') Default Keyword
                                    span.pull-right
                                        em.fa.fa-anchor(ng-class='{true:"text-info", false:"text-grey"}[row.category.default]')
                                        span(ng-if='row.category.default') ON
                                        span(ng-if='!row.category.default') OFF
                                .mda-list-item
                                    span.pull-left(uib-tooltip='Force Keyword Promotion') Force Keyword Promotion
                                    span.pull-right
                                        em.fa.fa-bookmark-o(ng-class='{true:"text-info", false:"text-grey"}[row.category.forced]')
                                        span(ng-if='row.category.forced') ON
                                        span(ng-if='!row.category.forced') OFF
                                .mda-list-item
                                    span.pull-left(uib-tooltip='Maximum assignment') Maximum assignment
                                    span.pull-right
                                        em.fa.fa-toggle-on
                                .mda-list-item
                                    span.pull-left(uib-tooltip='Refresh, Process Keyword') Refresh, Process Keyword
                                    span.pull-right
                                        em.fa.fa-refresh
                                .mda-list-item
                                    span.pull-left(uib-tooltip='Search Keyword') Search Keyword
                                    span.pull-right
                                        em.fa.fa-search(ng-click='listc.onSearchWithKeyword(row.keyword)')
                                .mda-list-item
                                    span.pull-left(uib-tooltip='Copy to Clipboard') Copy to Clipboard
                                    span.pull-right
                                        em.fa.fa-copy(ng-click='listc.copyToClipboard(row.keyword, $event)')
                                .mda-list-item
                                    span.pull-left(uib-tooltip='Remove Keyword') Remove Keyword
                                    span.pull-right
                                        em.fa.fa-trash-o
                        .col-lg-5.col-xs-4.pr0
                            select(selectpicker='', title='Keyword Category', multiple, data-selected-text-format='values')
                                option Product
                                option Service
                                option Solution
                                option Person
                            .mda-input-group.mt
                                input.mda-form-control(type='text', placeholder='Search Keyword on Website')
                                span.mda-input-group-addon
                                    em.fa.fa-search
        .col-md-6.p-sm
            #keywordPerformance.panel.mb-sm
                .panel-heading.sub-heading
                    .panel-title SEO Performance for Keyword: "{{ row.keyword }}"
                    paneltool(tool-collapse, ng-init="keywordPerformance=false")
                .panel-wrapper(uib-collapse="keywordPerformance")
                    .panel-body
                        .row
                            .col-xs-7.p0
                                uib-progressbar.progress-striped(type='success', value='82')
                                    span.text-black Best Page SEO Suitability 82%
                            .col-xs-5.p0
                                em.icon-question.pull-left.mt-sm
                                a.pull-right Recomended Action!
                        .row.mt
                            .col-xs-7.p0
                                uib-progressbar.progress-striped(type='success', value='72')
                                    span.text-black Best Page CONTENT Significance 72%
                            .col-xs-5.p0
                                em.icon-question.pull-left.mt-sm
                                a.pull-right Recomended Action!
                        .row.mt
                            .col-xs-7.p0
                                uib-progressbar.progress-striped(type='success', value='50')
                                    span.text-black Best Rank Position {{row.g}}, Page {{row.activepages}}
                            .col-xs-5.p0
                                em.icon-question.pull-left.mt-sm
                                a.pull-right Recomended Action!
    #keywordRankingChart.panel.mb
        .panel-heading.sub-heading
            .panel-title SERP Keyword Ranking "{{ row.keyword }}"
            paneltool(tool-collapse, ng-init="keywordRankingChart=false")
        .panel-wrapper(uib-collapse="keywordRankingChart")
            .panel-body
                div(hc-charts='', options='listc.chartOptions')
                .chart-filter
                    label.report-date.pull-left Report Date: {{ listc.reportDate }}
                    label.pull-right.dropup
                        select(selectpicker='', ng-model='listc.selectedDay', ng-options='(day.name + " Days") for day in listc.filterDays')
    #keywordAssignedPages.panel.mb-sm
        .panel-heading.sub-heading
            .panel-title Pages Assigned to Keyword: "{{ row.keyword }}"
            paneltool(tool-collapse, ng-init="keywordAssignedPages=false")
        .panel-wrapper(uib-collapse="keywordAssignedPages")
            .panel-body
                table.table.table-bordered.table-condensed(st-table="detailDisplayedCollection", st-safe-src='listc.keywordDetailCollection', st-detail-filtered-collection)
                    thead.table-control
                        tr
                            td.text-right(colspan="7")
                                .left.ml.mda-input-group
                                    input.mda-form-control(type='text', st-search='pageUrl', placeholder='Filter/Search')
                                    span.mda-input-group-addon
                                        em.fa.fa-search
                                .left
                                    fiter-condition
                                .left.pl.filter-title Filter
                                .left.ml
                                    md-switch.m0(ng-model='listc.filterOn', aria-label='filter', uib-tooltip='Reset Filter', tooltip-enable='listc.filterOn',  st-reset='', ng-disabled='!listc.filterOn')
                                .right(st-pagination='', st-items-by-page="listc.detailNumberOfRows", st-template="app/components/keywords/manage/templates/pagination.custom.html", st-page-change="listc.detailCurrentPage = newPage")
                                .right.display-rows
                                    label Display
                                    label
                                        select(selectpicker='', ng-model="listc.detailNumberOfRows" ng-options='item.value as item.label for item in listc.detailItemsByPage')
                    thead
                        tr
                            th.text-center.row-index #
                            th(st-sort="pageUrl") Site Pages
                            th.text-center(st-sort="keywords") Keywords
                            th.text-center(st-sort="violate") SEO Violations
                            th.text-center(style='width:10%;') Score
                            th.text-center.actions-col(ng-click="listc.showDetailBulkAction=!listc.showDetailBulkAction")
                                label.mda-checkbox
                                    input(type='checkbox', ng-model='listc.detailAllRowsMarked', ng-click='$event.stopPropagation()')
                                    em.bg-indigo-500
                                i.fa.fa-caret-down
                                overlay-popup#bulkActionsPopup(active='listc.showDetailBulkAction', width='180')
                                    div(ng-include="'app/components/keywords/manage/templates/detailBulkActions.html'")
                    tbody
                        tr(st-select-row="detail", st-select-mode="multiple", ng-repeat="detail in detailDisplayedCollection", ng-class='{true: "bg-blue-100", false:""}[detail.assignedState]', ng-click='listc.onSelectKeywordDetail(detail, $event)')
                            td.text-center {{ ((listc.detailCurrentPage-1) * listc.detailNumberOfRows) + $index + 1 }}
                            td.keyword-col
                                .left.keyword-label
                                    span.m0(ng-click='listc.onSearchWithKeyword(detail.pageUrl, $event)') {{ detail.pageUrl }}
                                .right.keyword-control
                                    label.m0.right
                                        md-switch(ng-model='detail.category.promoted', aria-label='auto', uib-tooltip='{{{true:"Keyword Auto-Promotion ON", false:"Keyword Auto-Promotion OFF"}[detail.category.promoted]}}', ng-click='$event.stopPropagation()')
                                    em.fa.fa-cog.right.text-grey(uib-tooltip='Keyword Parameters and Settings', ng-click='$event.stopPropagation()')
                                    em.fa.fa-anchor.right(ng-if='detail.category.default', uib-tooltip='Default Keyword, will appear on all Pages with no suitable Keywords', ng-click='$event.stopPropagation()')
                                    em.fa.fa-bookmark-o.right(ng-if='detail.category.forced', uib-tooltip='Force this Keyword Promotion and Assignment to Pages despite its poor Significance or Suitability score', ng-click='$event.stopPropagation()')
                            td.text-center
                                span {{ detail.keywords }}
                            td.text-center
                                em.fa(ng-class='{1:"fa-check text-success", 2:"fa-warning text-warning", 3:"fa-info-circle text-danger"}[detail.violate]')
                                em.fa.fa-caret-down.text-grey
                            td.pl-sm.pr-sm
                                .color-bar
                                    .flex(ng-class='row.g | rankingFilter', uib-tooltip="SERP Ranking, Page {{row.activepages}}: Position {{row.g}}")
                                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[row.significance]', uib-tooltip="Significance: 34%")
                                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[row.suitability]', uib-tooltip="Suitability: 68%")
                            td.text-center
                                label.mda-checkbox
                                    input(type='checkbox', ng-model='detail.selected')
                                    em.bg-indigo-500
                        tr.no-data-row.text-center(ng-if='detailDisplayedCollection.length < 5')
