#keyList.container-fluid.panel.panel-default.panel-dark.m0(ng-controller='keywordsListController as listc')
    .panel-heading.custom-heading
        .description Keywords&nbsp;List
        .panel-title.w-70p.dashboard-title
            select(selectpicker='', data-live-search='true', ng-model='listc.site.selected')
                option.text-bold(ng-repeat='site in listc.sites') {{ site.name }}
    .panel-wrapper(uib-collapse="keyList")
        .panel-body.p0
            .container-fluid
                table.table.table-bordered.table-condensed(st-table="displayedCollection", st-safe-src='listc.rowCollection')
                    thead.table-control
                        tr
                            td.text-right(colspan="7")
                                a.left.btn.btn-primary.btn-outline(href='#/app/keywords/add-keywords')
                                    i.fa.fa-plus
                                .float-label.ml.mda-input-group.left
                                    input.mda-form-control(type='text', ng-model="username", placeholder='Filter/Search', ng-click="listc.showAdditionalFilter=true")
                                    span.mda-input-group-addon
                                        em.fa.fa-search.fa-lg
                                    overlay-popup(active='listc.showAdditionalFilter', width='400')
                                        div(ng-include="'app/components/keywords/manage/templates/additionalFilter.html'")
                                .left.sort-by
                                    label Sort By
                                    i.fa.fa-sort
                                .left.sort-by
                                    label Export CSV
                                    i.fa.fa-list
                                .right(st-pagination='', st-items-by-page="listc.numberOfRows", st-template="app/components/keywords/manage/templates/pagination.custom.html")
                                .right.display-rows
                                    label Display
                                    label
                                        select(selectpicker='', ng-model="listc.numberOfRows" ng-options='item for item in listc.itemsByPage')
                    thead
                        tr
                            th.text-center #
                            th(st-sort="keyword") Keywords
                            th.text-center(st-sort="g")
                                i.glyphicon.socicon-google
                            th.text-center(st-sort="y")
                                i.glyphicon.socicon-yahoo
                            th.text-center(st-sort="m")
                                i.glyphicon.socicon-bing
                            th.text-center(st-sort="") Active Pages
                            th.text-center.actions-col(ng-click="listc.showBulkAction=!listc.showBulkAction")
                                label.mda-checkbox
                                    input(type='checkbox', ng-model='listc.allRowsMarked', ng-click='$event.stopPropagation()')
                                    em.bg-indigo-500
                                i.fa.fa-caret-down
                                overlay-popup#bulkActionsPopup(active='listc.showBulkAction', width='280')
                                    div(ng-include="'app/components/keywords/manage/templates/bulkActions.html'")
                    tbody
                        tr(st-select-row="row", st-select-mode="single", ng-repeat="row in displayedCollection")
                            td.text-center {{ $index + 1 }}
                            td.keyword-col
                                label {{ row.keyword }}
                                em.fa.fa-line-chart.right.text-info
                                label.m0.right
                                    md-switch AUTO
                                em.fa.fa-cog.right.text-grey
                            td.text-center.text-warning
                                i.fa.fa-angle-double-down &nbsp; {{ row.g }}
                            td.text-center.text-danger
                                i.fa.fa-angle-double-up &nbsp; {{ row.y }}
                            td.text-center.text-success {{ row.m }}
                            td.progress-col
                                .number.pull-left.text-center
                                    span 5 &nbsp;
                                        i.fa.fa-caret-down
                                .stacked-progress.pull-left
                                    uib-progressbar(type='green', value='100')
                                .stacked-progress.pull-left
                                    uib-progressbar(type='info', value='100')
                                .stacked-progress.pull-left
                                    uib-progressbar(type='warning', value='100')
                                .pregress-caret.pull-left
                                    i.fa.fa-caret-down.text-grey
                                .pregress-caret.pull-left
                                    i.fa.fa-anchor
                            td.text-center
                                label.mda-checkbox
                                    input(type='checkbox', ng-model='listc.selectedRows[$index]')
                                    em.bg-indigo-500