#keyList.container-fluid.panel.panel-default.panel-dark.m0(ng-controller='keywordsListController as listc')
    .panel-heading.custom-heading.flex-heading
        .description Manage&nbsp;Keywords
        .panel-title.w-70p.dashboard-title
            select(selectpicker='', data-live-search='true', ng-model='listc.selectedSite', ng-options='site.name for site in listc.sites')
    .panel-wrapper(uib-collapse="keyList")
        .panel-body.p0
            .container-fluid
                table.table.table-bordered.table-condensed(st-table="displayedCollection", st-safe-src='listc.rowCollection', st-set-filter="additionalFilter", st-filtered-collection)
                    thead.table-control
                        tr
                            td.text-right(colspan="7")
                                a.left.btn.btn-primary.btn-outline.btn-xs(href='#/app/keywords/add-keywords')
                                    i.fa.fa-plus
                                .left.ml.mda-input-group
                                    input#searchForkeyword.mda-form-control(type='text', st-search='keyword', placeholder='Filter/Search', ng-click="listc.showAdditionalFilter=true")
                                    span.mda-input-group-addon
                                        em.fa.fa-search
                                    overlay-popup(active='listc.showAdditionalFilter', width='450')
                                        div(ng-include="'app/components/keywords/manage/templates/additionalFilter.html'")
                                .left
                                    fiter-condition(condition-for='keyword')
                                .left.pl.filter-title Filter
                                .left.ml
                                    md-switch.m0(ng-model='listc.filterOn', aria-label='filter', uib-tooltip='Reset Filter', tooltip-enable='listc.filterOn',  st-reset='', ng-disabled='!listc.filterOn')
                                .right(st-pagination='', st-items-by-page="listc.numberOfRows", st-template="app/components/keywords/manage/templates/pagination.custom.html", st-page-change="listc.currentPage = newPage")
                                .right.display-rows
                                    label Display
                                    label
                                        select(selectpicker='', ng-model="listc.numberOfRows", ng-options='item.value as item.label for item in listc.itemsByPage')
                    thead
                        tr
                            th.text-center.row-index #
                            th(st-sort="keyword") Keywords
                            th.text-center(st-sort="g", style='width:55px;')
                                i.glyphicon.socicon-google
                            th.text-center(st-sort="y", style='width:55px;')
                                i.glyphicon.socicon-yahoo
                            th.text-center(st-sort="m", style='width:55px;')
                                i.glyphicon.socicon-bing
                            th.text-center(st-sort="activepages") Active Pages
                            th.text-center.actions-col(ng-click="listc.showBulkAction=!listc.showBulkAction")
                                label.mda-checkbox
                                    input(type='checkbox', ng-model='listc.allRowsMarked', ng-click='$event.stopPropagation()')
                                    em.bg-indigo-500
                                i.fa.fa-caret-down
                                overlay-popup#bulkActionsPopup(active='listc.showBulkAction', width='215')
                                    div(ng-include="'app/components/keywords/manage/templates/bulkActions.html'")
                    tbody
                        tr(st-select-row="row", st-select-mode="single", ng-repeat-start="row in displayedCollection")
                            td.text-center {{ ((listc.currentPage-1) * listc.numberOfRows) + $index + 1 }}
                            td.keyword-col
                                .left.keyword-label
                                    span.m0(data-toggle='tooltip', title='{{row.keyword}}', ng-click='listc.copyToClipboard(row.keyword, $event)', uib-tooltip='{{listc.textCopyState}}') {{ row.keyword }}
                                    em.icon-arrow-down(ng-if='!row.expanded', uib-tooltip='Expand Keyword Screen', ng-click='listc.expandKeywordDetail(row)')
                                    em.icon-arrow-up(ng-if='row.expanded', uib-tooltip='Collapse Keyword Screen', ng-click='row.expanded=false')
                                .right.keyword-control
                                    em.fa.fa-line-chart.right.pl0(ng-class='{true:"text-info", false:"text-grey"}[row.category.monitored]', uib-tooltip='{{{true:"SERP Monitoring Active", false:"SERP Monitoring Not Active"}[row.category.monitored]}}')
                                    label.m0.right
                                        md-switch(ng-model='row.category.promoted', aria-label='auto', uib-tooltip='{{{true:"Keyword Auto-Promotion ON", false:"Keyword Auto-Promotion OFF"}[row.category.promoted]}}', ng-change='listc.onActivePromotedKeyword(row)')
                                    em.fa.fa-cog.right.text-grey(uib-tooltip='Keyword Parameters and Settings')
                            td.text-center.text-warning
                                i.fa.fa-angle-double-down(uib-tooltip='Google.com. SERP Ranking: Page {{row.activepages}}, Position {{row.g}}')
                                    span.font-roboto.ml-sm {{ row.g }}
                            td.text-center.text-danger
                                i.fa.fa-angle-double-up(uib-tooltip='Yahoo.UK. SERP Ranking: Page {{row.activepages}}, Position {{row.y}}')
                                    span.font-roboto.ml-sm {{ row.y }}
                            td.text-center.text-success
                                span.font-roboto.ml-sm(uib-tooltip='Bing.UK. SERP Ranking: Page {{row.activepages}}, Position {{row.m}}') {{ row.m }}
                            td.progress-col.pl-sm
                                .pull-left.text-center.pr-sm
                                    span(uib-tooltip='Keyword Assigned to {{row.activepages}} Pages') {{ row.activepages }}
                                    em.fa.fa-caret-down
                                .color-bar.pull-left
                                    .flex(uib-tooltip="SERP Ranking, Page {{row.activepages}}: Position {{row.g}}", ng-class='row.g | rankingFilter')
                                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[row.significance]', uib-tooltip="Significance: 34%")
                                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[row.suitability]', uib-tooltip="Suitability: 68%")
                                .pull-left.pl-sm(ng-if='row.category.default')
                                    i.fa.fa-anchor(uib-tooltip='Default Keyword, will appear on all Pages with no suitable Keywords')
                                .pull-left.soc-ranking.pl-sm(ng-if='row.category.forced')
                                    i.fa.fa-bookmark-o(uib-tooltip='Force this Keyword Promotion and Assignment to Pages despite its poor Significance or Suitability score')
                            td.text-center
                                label.mda-checkbox
                                    input(type='checkbox', ng-model='row.selected')
                                    em.bg-indigo-500
                        tr(ng-if="row.expanded", ng-repeat-end="")
                            td(colspan='7')
                                div(ng-include="'app/components/keywords/manage/templates/expandedKeyword.html'")
                        tr.no-data-row.text-center(ng-if='displayedCollection.length < 7')
                            td(colspan='7')