.bulk-actions.mda-list.p0.shadow-z3.bg-white
    .mda-list-item(ng-click='listc.copyToClipboard(row, $event)')
        i.fa.fa-copy
        span.ml-sm Copy to Clipboard
    .mda-list-item(ng-click='listc.onSearchWithKeyword(row.keyword, $event)')
        i.fa.fa-search
        span.ml-sm Search in SearchEngine
    .mda-list-item(ng-click='listc.onSearchWithKeyword(row.keyword, $event)')
        i.fa.fa-search
        span.ml-sm Search in Website
    .mda-list-item(ng-click='listc.removeKeyword(row, $event)')
        i.fa.fa-trash-o
        span.ml-sm Remove from System
    .mda-list-item(ng-click='listc.refreshKeyword(row, $event)')
        i.fa.fa-refresh
        span.ml-sm Refresh, Process