.bulk-actions.mda-list.p0.shadow-z3.bg-white
    .mda-list-item(ng-click='listc.onSearchWithKeyword(detail.pageUrl, $event)')
        span.ml-sm Launch URL/Page
    .mda-list-item(ng-click='$event.stopPropagation()')
        span.ml-sm Go to Page Info