.bulk-actions.mda-list.shadow-z3.bg-white
    .mda-list-item(ng-click='listc.openPageUrl(detail, $event)')
        span.ml-sm Launch URL/Page
    .mda-list-item(ng-click='detail.showActions=false;$event.stopPropagation()')
        span.ml-sm Go to Page Info