.bulk-actions.mda-list.shadow-z3.bg-white.text-left
    .mda-list-item(ng-click='listc.openPageUrl(detail, $event)')
        span.ml-sm Go to Page
    .mda-list-item(ng-click='detail.showKeywordsPopup=false;$event.stopPropagation()')
        span.ml-sm View Keywords