.expanded-page {
    padding: 10px 15px 0 15px;
    border-left: 10px solid #BBDEFB;
    font-size: 13px;
    .panel-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 40px;
    }
    .panel-body {
        overflow: visible !important;
    }
    md-switch {
        height: 18px;
        padding-top: 8px;
    }
    #page_setting.panel {
        .mda-list-item .fixed-width {
            width: 35px;
        }
    }
    #page_description.panel {
        em.fa.fa-edit {
            font-size: 20px;
        }
    }
    #pages_assign_key {
        .keyword-col {
            height: 25px;
            .keyword-label {
                width: calc(~"100% - 60px") !important;
            }
            .keyword-control {
                width: 60px !important;
            }
        }
        .color-bar {
            width: 80px;
        }
    }
}