#pages_dashboard {
    .list-group-item {
        padding: 6px;
        .pull-right {
            width: 35px;
        }
    }
    .average-number {
        p {
            margin-top: 12px;
        }
    }
}