
.form-group.row.row-fluid
    .col-md-1.col-sm-2(id='primary-lang-label')
        div(class='text-bold') Primary Language:
    #lang-select.col-md-4.col-sm-8
        select(selectpicker='', data-live-search='true', data-dropup-auto="false", data-size="6", ng-model='waCtrl.languages.selected', ng-options='language.name for language in waCtrl.languages')
        //- ui-select.text-left(name='langs', ui-required = 'true', ng-model='waCtrl.languages.selected', theme='bootstrap', on-select='waCtrl.setPrimaryLanguage($item)', reset-search-input='true', append-to-body='true')
        //-     ui-select-match(placeholder='Select or search a language in the list...')
        //-         span(ng-bind-html='$select.selected.languageCode', class="text-uppercase text-muted")
        //-         span.select-text {{ $select.selected.name }}
        //-     ui-select-choices(repeat='lang in waCtrl.languages | filter: $select.search', refresh-delay='0')
        //-         span(ng-bind-html='lang.languageCode | highlight: $select.search', class="text-uppercase text-muted")
        //-         span(ng-bind-html='lang.name | highlight: $select.search')
        div.text-danger(ng-show="generalStepForm.langs.$dirty && generalStepForm.langs.$error.required", class='invalid') This field is required
    i(class="material-icons help-icon", uib-popover="Please select the main language of your website. This parameter will be used to improve pour analysis of your website text.", popover-animation="true", popover-placement="right", popover-trigger="'mouseenter'") help_outline
    
.form-group.row.row-fluid
    .col-md-1.col-sm-2(id='country-label')
        div(class='text-bold') Country: 
    #country-select.col-md-4.col-sm-8
        select(selectpicker='', data-live-search='true', data-dropup-auto="false", ng-model='waCtrl.country.selected', ng-change="waCtrl.setCountry(waCtrl.country.selected)")
            option(ng-repeat='country in waCtrl.countries', data-icon='flag-icon {{waCtrl.getCountryCode(country.Code)}} fm') {{ country.Name }}
        //- ui-select.text-left(ng-model='waCtrl.country.selected', theme='bootstrap', ng-disabled='waCtrl.country.disabled', on-select='waCtrl.setCountry($item)')
        //-     ui-select-match(placeholder='No specific country...') 
        //-         div(class="flag-icon {{waCtrl.getCountryCode($select.selected.Code)}} fm ")
        //-         div {{ $select.selected.Name }}
        //-     ui-select-choices(repeat='country in waCtrl.countries | filter: $select.search')
        //-         div(class="flag-icon {{waCtrl.getCountryCode(country.Code)}} fm ")
        //-         div(ng-bind-html='country.Name | highlight: $select.search')
    i(class="material-icons help-icon", uib-popover="Please select the country of your primary organization or residence. Please enter a valid entry since this choice may influence some of our analysis, and billing functions, such as VAT.", popover-animation="true", popover-placement="right", popover-trigger="'mouseenter'") help_outline


.form-group.row.row-fluid
    .col-md-1.col-sm-2(id='country-label')
        div(class='text-bold') Site type: 
    #country-select.col-md-4.col-sm-8
        select(selectpicker='', data-live-search='true', data-dropup-auto="false", data-size="6", ng-model='waCtrl.siteType.selected', ng-options='siteType.name for siteType in waCtrl.siteTypes')
        //- ui-select.text-left(ng-model='waCtrl.siteType.selected', theme='bootstrap', ng-disabled='waCtrl.siteType.disabled', on-select='waCtrl.setSiteType($item)', append-to-body='true')
        //-     ui-select-match(placeholder='No Specific') {{ $select.selected.name }}
        //-     ui-select-choices(repeat='siteType in waCtrl.siteTypes | filter: $select.search')
        //-         span(ng-bind-html='siteType.name | highlight: $select.search')
    i(class="material-icons help-icon", uib-popover="Please select the most suitable website category from the dropdown list that best describes your website. If you are unsure, select Other. ", popover-animation="true", popover-placement="right", popover-trigger="'mouseenter'") help_outline

.form-group.row.row-fluid
    .col-md-6
        | Monitored Search Engine
        .row.serp-item(ng-repeat='item in waCtrl.seViews')
            .col-xs-4.pb-sm
                select(selectpicker='', data-live-search='true', data-dropup-auto="false", ng-model='item.selectedEngine', ng-change="waCtrl.changeDomains(item)")
                    option(ng-repeat='engine in item.engines', data-icon='{{engine.icon}}') {{ engine.name }}
            .col-xs-7.p0.pb-sm
                select(selectpicker='', data-live-search='true', data-dropup-auto="false", ng-model='item.selectedDomain', ng-options='(item.selectedEngine + domain.Name) for domain in item.domains', ng-change="waCtrl.selectDomain(item)", data-size="8")
            .col-xs-1.pl0.pb-sm
                em.fa.fa-check.text-success.ml-sm(ng-if='item.domainSelected')
                .spinner(ng-show='item.domainChecking')
                    .bounce1
                    .bounce2
                    .bounce3
        .comment
            em Please select up to 3 search engines to monitor your Keywords SERP ranking positions