.accordion-wrapper {
    .accordion-item {
        height: 600px;
        transition: all linear 0.5s;
        padding: 0;
        .collapsed-body{
            width: 100%;
            height: inherit;
            background-color: #F2F2F2;
            i {
                margin-top: 20px;
                font-size: 20px;
            }
        }
        .item-body {
            width: 100%;
            height: inherit;
        }
    }
    .width-up {
        width: 95%;
    }
    .width-down {
        width: 5%;
    }
    .ng-hide {
        width: 0;
    } 
}