@accordion-height: 600px;
@panel-header-bg: #607D8B;
.side-accordion-wrapper {
    @collapsed-panel-width: 54px;
    @padding: 2px;

    height: @accordion-height;
    side-accordion-item {
        float: left;
        transition: width .5s;
        width: @collapsed-panel-width;
        padding: @padding;
        height: inherit;
        overflow: hidden;
        .accordion-item {
            float: left;
            width: @collapsed-panel-width - 2 * @padding;
            height: @accordion-height - 2* @padding;
            background-color: @panel-header-bg;
            .collapsed-body {
                margin-top: 20px;
                font-size: 18px;
                color: white;
            }
        }
        .item-body {
            background-color: #F5F7FA;
            margin-left: @collapsed-panel-width - @padding;
            height: @accordion-height - 2 * @padding;
        }
        .smoothidden {
            opacity: 0;
            visibility: hidden;
            transition-property: opacity, visibility;
            transition-duration: .5s, 0s;
            transition-delay: 0s, .5s;
        }
    }
}

// Keywords Dashbord Style
#keyDashboard, #keyList {
    height: @accordion-height - 4px;
    .panel-heading {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        // background-color: @panel-header-bg;
        .panel-title {
            background-color: white;
            margin-right: 65px;
            padding-left: 10px;
            color: black;
            .ui-select-container {
                display: inline-flex;
                span {
                    border: none;
                }
            }
        }
    }
    .panel-body {
        .list-group-item {
            padding-top: 20px;
            padding-bottom: 20px;
            .fa-cog {
                font-size: 24px;
                margin-right: 10px;
            }
        }
        .no-border {
            border: none;
            font-size: 18px;
        }       
    }
    .charts-panel {
        .fa-line-chart {
            margin-top: 11px;
        }
        .panel-title {
            padding-left: 5px;
            margin-left: 5px;
            float: left;
        }
        .ui-select-container {
            display: inline-flex;
            span {
                border: none;
            }
        }
        .date-filter .ui-select-container {
             width: 65px;
             .dropdown-menu {
                min-width: 65px !important;
            }
        }
        .highcharts-container {
            .highcharts-credits {
                display: none;
            }
        }
        .report-date {
            font-size: 15px;
        }
    }
}