.expanded-keyword {
    border-left: 10px solid #BBDEFB;
    font-size: 13px;
    .panel-heading {
        padding: 3px;
        .panel-title {
            font-size: 14px;
        }
        paneltool {
            margin-top: -20px;
        }
    }
    .panel-body {
        overflow: visible !important;
        min-height: 180px !important;
    }
    .row-eq-height {
        @media only screen and (min-width: @md-width) {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display:         flex;
            .panel {
                height: 90%;
                .panel-wrapper {
                    max-width: 350px;
                }
            }
        }
        @media only screen and (max-width: @custom-920) {
            .col-lg-4 .panel-wrapper{
                max-width: 480px;
            }
        }
        @media only screen and (max-width: @pad-h-width) {
            .col-lg-4 .panel-wrapper{
                max-width: 400px;
            }
        }
        @media only screen and (max-width: @custom-550 ) {
            .col-lg-4 .panel-wrapper{
                max-width: 350px;
            }
        }
        @media only screen and (max-width: @custom-500 ) {
            .col-lg-4 .panel-wrapper{
                max-width: 300px;
            }
        }
        @media only screen and (max-width: @custom-460 ) {
            .col-lg-4 .panel-wrapper{
                max-width: 230px;
            }
        }
    }
    #keywordSetting {
        .bootstrap-select .dropdown-menu {
            top: 27px;
        }
        .mda-list-item {
            em {
                width: 16px;
            }
            .setting-icon {
                width: 50px;
            }
            md-switch {
                height: 20px;
                .md-container {
                    width: 16px;
                    margin: 6px 4px 0 0;
                }
            }
            .max-assign-setting {
                input {
                    height: 20px;
                    width: 50px;
                    text-align: right;
                }
            }
        }
        .mda-input-group {
            input {
                border: 1px solid #e2e2e2;
                padding-left: 23px;
                border-radius: 2px;
            }
            > .mda-input-group-addon {
                top: 2px;
                left: 4px;
            }
            .mda-form-control {
                height: 25px;
            }
        }
    }
    #keywordCategories {
        p {
            font-size: 15px;
            font-weight: bold;
            color: #655a5a;
        }
    }
    #keywordPerformance {
        .progress {
            background-color: #abe8b0;
            .progress-bar {
                color: black;
                text-align: left;
                padding-left: 5px;
                span {
                    white-space: nowrap;
                }
            }
        }
    }
    #keywordRankingChart {
        max-height: 345px;
        @media only screen and (max-width: @pad-h-width) {
            max-height: 360px;
        }
        .bootstrap-select .dropdown-menu {
            top: auto;
        }
        .highcharts-container {
            .highcharts-credits {
                display: none;
            }
        }
        .chart-filter {
            font-size: 14px;
            @media only screen and (min-width: @pad-h-width) {
                transform: translateY(-40px);
            }
            .report-date {
                font-weight: normal;
            }
        }
    }
    #keywordAssignedPages {
        .panel-body {
            padding-right: 35px;
        }
        #detailBulkActionsPopup {
            top: 27px;
            left: -156px;
        }
        .keyword-label {
            width: calc(~"100% - 82px") !important;
            overlay-popup {
                transform: translate(-130px, 20px) !important;
            }
        }
        .keyword-control {
            width: 82px !important;
            em {
                padding: 9px 5px;
            }
        }
        .page-keyword-col {
            width: 63px;
            overlay-popup {
                top: auto;
                left: auto;
                transform: translate(-130px, 20px) !important;
            }
        }
        .seo-violation-col {
            width: 92px;
        }
        .score-col {
            width: 142px;
            min-width: 142px;
            padding-left: 23px;
            padding-right: 38px;
        }
    }
    #keywordRankingChart, #keywordAssignedPages {
        .panel-wrapper {
            overflow: auto;
        }
    }
    @media only screen and (max-width: @md-width) {
        #keywordRankingChart, #keywordAssignedPages {
            .panel-wrapper {
                width: 740px;
            }
        }
    }
    @media only screen and (max-width: @custom-1160 ) {
        #keywordRankingChart, #keywordAssignedPages {
            .panel-wrapper {
                width: 700px;
            }
        }
    }
    @media only screen and (max-width: @custom-1080 ) {
        #keywordRankingChart, #keywordAssignedPages {
            .panel-wrapper {
                width: 660px;
            }
        }
    }
    @media only screen and (max-width: @custom-1040 ) {
        #keywordRankingChart, #keywordAssignedPages {
            .panel-wrapper {
                width: 620px;
            }
        }
    }
}

#page_setting.panel {
    .mda-list-item .fixed-width {
        width: 50px;
    }
    .max-assign-setting {
        input {
            height: 20px;
            width: 50px;
            text-align: right;
        }
    }
}
#page_description.panel {
    em.fa.fa-edit {
        font-size: 20px;
    }
    a {
        color: #1a0dab;
        font-size: 18px;
    }
}
#keyword_page_keyword_filter {
    .filter-title {
        padding: 5px;
        width: 177px;
    }
    .category-body {
        background-color: white;
        padding: 0 0 10px 10px;
        a {
            font-size: 13px;
            text-decoration: underline;
            color: black;
        }
        span {
            font-size: 12px;
        }
        p {
            font-size: 11px;
            margin-bottom: 0;
            color: #8a7878;
        }
        .mda-list {
            padding: 0;
        }
        .mda-list-item {
            padding-top: 3px;
            >em {
                width: 16px;
            }
        }
        .filter-body {
            display: flex;
        }
        .filter-category {
            float: left;
            width: 38%;
        }
        .filter-ranking {
            float: left;
            width: 62%;
            border-left: 1px solid #ddd;
            padding-left: 3px;
            table {
                width: 100%;
            }
        }
    }
}

#keyword_page_violation {
    .filter-title {
        padding: 5px;
        width: 177px;
    }
    .category-body {
        background-color: white;
        padding: 0 0 10px 10px;
        a {
            font-size: 13px;
            text-decoration: underline;
            color: black;
        }
        .filter-body {
            display: flex;
        }
        .filter-category {
            float: left;
            width: 64%;
            font-size: 12px;
        }
        .filter-ranking {
            float: left;
            width: 36%;
            border-left: 1px solid #ddd;
            padding-left: 3px;
            table {
                width: 100%;
            }
        }
    }
}
