paneltool {
	margin-top: -25px;
}

#keywords-select-all {
	margin-bottom:5px!important;
}
/*
#keywords-select-all > .md-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}*/
.table.table-striped.table-bordered{ border: 1px solid #eee!important;}
.table > thead > tr > th {
	padding: 0 8px;
}

.modal {
	text-align: center;
	padding: 0 !important;
}

.modal::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

textarea {
	resize: vertical!important;
}

.keywords-column {
	padding: 0 10px 0 5px;
}
.keywords-info-column {
	padding: 0 5px 0 0px;
}

.text-underline {
	text-decoration: underline;
}

.material-icons.clear {
	float: left;
	margin-top: 5px;
	color: orangered!important;
}

.pagination-control {
	margin-left: 10px;
	margin-right: 10px;
}

.pagination-control .pagination {
	margin-right: 5px;
}

.socicon-google {
	color:#db3236;
	font-size:18px;
}
.socicon-yahoo {
	color: #410093;
	font-size: 18px;
}
.socicon-yandex {
	color: #ffcc00;
	font-size: 18px;
}
.socicon-bing {
	color: #a3a3a3;
	font-size: 18px;
}