// Keywords Dashbord Style
#keyDashboard,
#keyList,
#addKeywords {
    @media only screen and (max-width: @pad-width) {
        .panel {
            display: flow-root !important;
        }
    }
    paneltool {
        margin: 6px 5px auto auto;
    }
    .panel-heading {
        display: flex;
        justify-content: flex-start;
        padding: 3px 10px;
        padding-left: 0px !important;
        position: relative;
        left: -1px;
        border-top-left-radius: 0;
        .description {
            font-size: 17px;
            color: white;
            padding-top: 3px;
            padding-right: 10px;
            @media only screen and (max-width: @pad-m-width) {
                font-size: 15px;
            }
        }
        .dashboard-title {
            width: -webkit-fill-available;
            .dropdown-menu {
                top: 25px !important;
            }
        }
    }
    .panel-body {
        .list-group-item {
            padding: 6px !important;
            .fa {
                font-size: 18px;
            }
            button {
                @media only screen and (max-width: @mobile-width) {
                    padding: 0;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .no-border {
            border: none;
            font-size: 15px;
            padding: 4px 10px 16px 10px !important;
            @media only screen and (max-width: @pad-width) {
                font-size: 12px;
            }
            @media only screen and (max-width: @mobile-width) {
                font-size: 10px;
            }
            .btn {
                height: 30px;
            }
            .btn-oval {
                width: 30px;
                padding: 6px !important;
                margin-right: 7px;
            }
            .btn-outline {
                padding: 6px 14px !important;
            }
        }
    }
    #searchEngine {
        .serp-title {
            font-size: 15px;
            padding-left: 15px;
        }
        .panel-body {
            padding: 6px !important;
        }
        .serp-item {
            padding: 5px 0 0 10px;
            em {
                color: green;
                font-size: 20px;
                margin-top: 5px;
                @media only screen and (max-width: @mobile-width) {
                    font-size: 15px;
                }
            }
            [class^="col-"] {
                padding: 0 5px !important;
                @media only screen and (max-width: @mobile-width) {
                    padding: 0 !important;
                }
            }
        }
        .comment {
            @media only screen and (min-width: 1800px) {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    #chartsPanel {
        max-height: 440px;
        @media only screen and (max-width: @pad-h-width) {
            max-height: 460px;
        }
        .highcharts-container {
            .highcharts-credits {
                display: none;
            }
        }
        .chart-filter {
            font-size: 14px;
            @media only screen and (min-width: @pad-h-width) {
                transform: translateY(-40px);
            }
            .report-date {
                font-weight: normal;
            }
        }
    }
}

// Add Keywords Panel
#addKeywords {
    margin-right: 15px;
    .text-mode, .add-package{
        @media only screen and (max-width: @mobile-width) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .title {
        font-size: 13px;
        color: black;
        @media only screen and (max-width: @pad-width) {
            font-size: 11px;
        }
    }
    label {
        font-weight: 500 !important;
    }
    textarea {
        @media only screen and (max-width: @md-width) {
            height: 200px !important;
        }
    }
    .clear {
        padding-top: 8px;
    }
    .add-package {
        padding-top: 20px;
    }
    .progress {
        background-color: #F1BABA;
        height: 25px;
        margin-bottom: 0 !important;
        .progress-bar {
            color: black;
            font-size: 13px;
            @media only screen and (max-width: @mobile-width) {
                font-size: 11px;
            }
            span {
                white-space: nowrap;
            }
        }
    }
    .promoted-bar {
        margin-top: 20px;
        height: 30px;
        .progress {
            background-color: #F1BABA;
        }
    }
    .monitored-bar {
        height: 30px;
        .progress {
            background-color: #F9E4A3;
        }
    }
    .checkbox {
        @media only screen and (max-width: @pad-width) {
            label {
                font-size: 10px;
            }
            .text-comment em {
                font-size: 10px;
            }
        }
        em {
            margin-left: 15px;
        }
    }
    button.pull-right {
        margin-bottom: 10px;
    }
}
// Keywords List
#keyList {
    .container-fluid {
        padding: 10px 15px 0 15px;
    }
    table {
        margin-bottom: 10px;
        th, td {
            border: 1px solid #696464;
            cursor: pointer;
        }
        th {
            padding: 2px;
            background-color: #c6c7ca;
            color: #3e3c3c;
            i {
                margin-top: 4px;
            }
            .md-select-value {
                border: none;
                width: 40px;
                min-width: 40px;
                span {
                    margin: 0;
                    width: 12px;
                    color: #3e3c3c;
                }
            }
        }
        td {
            padding: 0;
        }
        .st-sort-ascent:before{
            content: '\25B2';
        }
        .st-sort-descent:before{
            content: '\25BC';
        }
        .st-selected {
            background: #dfeaff !important;
        }
        .table-control {
            td {
                border: none;
            }
            .pagination {
                margin: 0;
            }
            .display-rows {
                margin-right: 10px;
            }
            .mda-input-group {
                input {
                    border: 1px solid #736d6d;
                }
                > .mda-input-group-addon {
                    top: 7px;
                    left: 8px;
                }
                > .mda-input-group-addon-suffix {
                    position: absolute;
                    top: 7px;
                    right: 6px;
                }
            }
            .sort-by {
                padding: 6px 10px;
                i {
                    margin-left: 5px;
                }
            }
        }
    }
    .keyword-col {
        padding-right: 15px;
        >label {
            margin: 5px;
        }
        label {
            font-weight: normal;
        }
        md-switch {
            margin: 0;
            .md-container {
                margin-top: 5px;
            }
            .md-bar {
                width: 30px;
                height: 10px;
            }
            .md-thumb {
                height: 15px;
                width: 15px;
            }
            .md-label {
                font-size: 12px;
            }
        }
        em {
            padding: 8px 10px;
            font-size: 16px;
        }
    }
    .progress-col {
        .number {
            width: 30%
        }
        .stacked-progress {
            width: 15%;
        }
        .pregress-caret {
            padding-left: 5px;
        }
        .progress {
            background-color: burlywood;
            padding: 0;
            border: none;
            border-radius: 0;
        }
    }
    .actions-col {
        position: relative;
        width: 70px;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .text-grey {
        color: grey;
    }
    overlay-popup {
        .filter-condition {
            width: 100px;
            padding: 6px 3px;
        }
        .category-body {
            label {
                font-size: 12px;
            }
            .mda-list-item>em {
                width: 16px;
            }
        }
    }
    .bulk-action {
        top: 26px;
        left: -263px;
    }
}