// Keywords Dashbord Style
#keyDashboard,
#keyList,
#addKeywords {
    @media only screen and (max-width: @pad-width) {
        .panel {
            display: flow-root !important;
        }
    }
    paneltool {
        margin: 6px 5px auto auto;
    }
    .panel-heading {
        display: flex;
        justify-content: flex-start;
        padding: 3px 10px;
        padding-left: 0px !important;
        position: relative;
        left: -1px;        
        border-top-left-radius: 0;
        .description {
            font-size: 17px;
            color: white;
            padding-top: 3px;
            padding-right: 10px;
            @media only screen and (max-width: @pad-m-width) {
                font-size: 15px;
            }
        }
        .dashboard-title {
            width: 70%;
            @media only screen and (max-width: @laptop-m-width) {
                width: 50%;
            }
            .dropdown-menu {
                top: 25px !important;
            }
        }
    }
    .panel-body {
        .list-group-item {
            padding: 6px !important;
            .fa {
                font-size: 18px;
            }
            button {
                @media only screen and (max-width: @mobile-width) {
                    padding: 0;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .no-border {
            border: none;
            font-size: 15px;
            padding: 4px 10px 16px 10px !important;
            @media only screen and (max-width: @pad-width) {
                font-size: 12px;
            }
            @media only screen and (max-width: @mobile-width) {
                font-size: 10px;
            }
            .btn {
                height: 30px;
            }
            .btn-oval {
                width: 30px;
                padding: 6px !important;
                margin-right: 7px;
            }
            .btn-outline {
                padding: 6px 14px !important;
            }
        }
    }
    #searchEngine {
        .serp-title {
            font-size: 15px;
            padding-left: 15px;
        }
        .panel-body {
            padding: 6px !important;
        }
        .serp-item {
            padding: 5px 0 0 10px;
            em {
                color: green;
                font-size: 20px;
                margin-top: 5px;
                @media only screen and (max-width: @mobile-width) {
                    font-size: 15px;
                }
            }
            [class^="col-"] {
                padding: 0 5px !important;
                @media only screen and (max-width: @mobile-width) {
                    padding: 0 !important;
                }
            }
        }
    }
    #chartsPanel {
        max-height: 400px;
        @media only screen and (max-width: @pad-h-width) {
            max-height: 420px;
        }
        @media only screen and (max-width: @pad-m-width) {
            max-height: 450px;
        }
        .highcharts-container {
            .highcharts-credits {
                display: none;
            }
        }
        .chart-filter {
            font-size: 14px;
            @media only screen and (min-width: @pad-h-width) {
                transform: translateY(-40px);
            }
        }
    }
    #addKeywords {
        margin-right: 15px;
        .title {
            font-size: 13px;
            color: black;
            @media only screen and (max-width: @pad-width) {
                font-size: 11px;
            }
        }
        label {
            font-weight: 500 !important;
        }
        textarea {
            height: 200px !important;
        }
        .clear {
            padding-top: 8px;
        }
        .add-package {
            padding-top: 32px;
        }
        .progress {
            background-color: #F1BABA;
            height: 25px;
            margin-bottom: 10px;
            .progress-bar {
                color: black;
                font-size: 13px;
                span {
                    white-space: nowrap;
                }
            }
        }
        .promoted-bar {
            margin-top: 20px;
            .progress {
                background-color: #F1BABA;
            }
        }
        .monitored-bar {
            .progress {
                background-color: #F9E4A3;
            }
        }
        .checkbox {
            @media only screen and (max-width: @pad-width) {
                label {
                    font-size: 9px;
                }
                .text-comment em {
                    font-size: 10px;
                }
            }
            em {
                margin-left: 15px;
            }
        }
    }
}