.panel.m0
    .panel-heading.sub-heading
        .panel-title Page Info for Keyword: {{ kpic.pageData.pageUrl }}
        paneltool(tool-close, ng-click='kpic.hide()')
    .panel-wrapper
        .panel-body
            .row.row-eq-height
                .col-md-4
                    #page_setting.panel
                        .panel-heading.sub-heading
                            .panel-title Settings
                            paneltool(tool-collapse, ng-init="page_setting=false")
                        .panel-wrapper(uib-collapse="page_setting")
                            .panel-body.p-sm
                                .mda-list.p0
                                    .mda-list-item.mb-sm
                                        span.pull-left Launch Page URL
                                        span.pull-right.fixed-width(ng-click='kpic.openPageUrl($event)')
                                            em.fa.fa-search
                                    .mda-list-item.mb-sm
                                        span.pull-left Copy to Clipboard
                                        span.pull-right.fixed-width(ng-click='kpic.copyToClipboard($event)')
                                            em.fa.fa-copy
                                    .mda-list-item.mb-sm
                                        span.pull-left Auto Optimise Page
                                        span.pull-right.fixed-width
                                            md-switch(ng-model='kpic.pageData.category.promoted', aria-label='auto')
                                    .mda-list-item.mb-sm(ng-click='kpic.showMaximumKeywordsPage=!kpic.showMaximumKeywordsPage')
                                        span.pull-left Maximum Keywords for Page
                                        span.pull-right.fixed-width {{ kpic.pageData.forced_min }}/{{ kpic.pageData.forced_max }}
                                            em.fa.fa-caret-down
                                    .mda-list-item.pl(ng-if='kpic.showMaximumKeywordsPage')
                                        .max-assign-setting
                                            span.pull-left.mr-sm
                                                small Keywords:&nbsp;Min
                                            input.pull-left.m0.p0.form-control(type='number', min='0', max='{{kpic.pageData.forced_max}}', ng-model='kpic.pageData.forced_min')
                                            span.pull-left.mr-sm.ml-sm
                                                small Max
                                            input.pull-left.m0.p0.form-control(type='number', min='0', max='7', ng-model='kpic.pageData.forced_max')
                                    .mda-list-item.mb-sm
                                        span.pull-left Refresh, Process Page
                                        span.pull-right.fixed-width(ng-click='kpic.onRefreshPage();')
                                            em.fa.fa-refresh
                                    .mda-list-item.mb-sm
                                        span.pull-left Remove Page from SEOgenie
                                        span.pull-right.fixed-width(ng-click='kpic.onRemoveFromSystem();')
                                            em.fa.fa-trash-o
                                    .mda-list-item
                                        span.pull-left Page Languages
                                        span.pull-right
                                            select(selectpicker='', data-live-search='true', data-dropup-auto="false", data-size="6", ng-model='kpic.selectedLanguage', ng-options='language.name for language in kpic.languages', multiple, data-max-options="3")
                .col-md-8
                    #page_description.panel
                        .panel-heading.sub-heading
                            .panel-title Page Title, Description
                            paneltool(tool-collapse, ng-init="page_description=false")
                        .panel-wrapper(uib-collapse="page_description")
                            .panel-body.pt-sm
                                a Herbal medicine | University of Maryland Medical Center
                                p.m0 www.umm.deu >...> Complementary and Alternative Medicine Guide > Treatment
                                p The most commonly used herbal supplements in the U.S. include: Echinacea (Echinacea purpurea and related species> St. John's wort(Hypericum perforatum) Ginkgo (Ginkgo biloba) Garlic (Allium sativum) Saw palmetto (Serrenoa repens) Ginseng (Panax ginseng or Asian ginseng) and Panax guinquefoluis or Amerian ginseng)
                                div
                                    span.pull-left Auto Generate Title/Description
                                    .pull-left.pl
                                        md-switch(ng-model='kpic.pageData.autotitle', aria-label='auto')
                                    span Generate
                                    em.fa.fa-edit.pull-right