.panel.m0
    .panel-heading.sub-heading
        .panel-title Page Info for Keyword: {{ kpvc.pageData.pageUrl }}
        paneltool(tool-close, ng-click='kpvc.hide()')
    .panel-wrapper
        .panel-body
            table.custom-table(st-table="pageViolationCollection", st-safe-src='kpvc.pageViolationCollection', st-set-filter="additionalFilter", st-filtered-collection='keywordPageViolation')
                thead.table-control
                    tr
                        td.text-right(colspan="7")
                            .pull-left.mda-input-group
                                input#searchFordescription.mda-form-control(type='text', st-search='description', placeholder='Filter/Search', ng-click="kpvc.showViolationFilter=true")
                                span.mda-input-group-addon
                                    em.fa.fa-search
                                overlay-popup#keyword_page_violation(active='kpvc.showViolationFilter', width='177')
                                    div(ng-include="'app/components/pages/manage/templates/violationFilter.html'")
                            .pull-left
                                fiter-condition(condition-for='description')
                            .pull-left.pl.filter-title Filter
                            .pull-left.ml
                                md-switch.m0(ng-model='kpvc.filterOn', aria-label='filter', uib-tooltip='Reset Filter', tooltip-enable='kpvc.filterOn',  st-reset='', ng-disabled='!kpvc.filterOn', ng-click='kpvc.resetFilter()')
                            .pull-right(st-pagination='', st-items-by-page="kpvc.numberOfRows.value", st-template="app/components/_common/templates/pagination.custom.html", st-page-change="kpvc.currentPage = newPage")
                            .pull-right.display-rows
                                label Display
                                label
                                    select(selectpicker='', ng-model="kpvc.numberOfRows", ng-options='item.label for item in kpvc.itemsByPage')
                            .pull-right.mr(style='padding-top:2px;', ng-click='kpvc.exportPageViolationTable()')
                                span Export
                                em.fa.fa-file-excel-o
                thead
                    tr
                        th.text-center.row-index #
                        th(st-sort='status') Violation Status
                        th(st-sort="category") Category
                        th(st-sort="description") Description
                        th(st-sort="action") Recommendation/Actions
                tbody
                    tr(st-select-row="row", st-select-mode="single", ng-repeat="row in pageViolationCollection")
                        td.text-center.p-sm {{ ((kpvc.currentPage-1) * kpvc.numberOfRows.value) + $index + 1 }}
                        td.p-sm
                            span.pull-left {{ row.status | pageViolationStatus }}
                            em.pull-right.fa(ng-class='{1:"fa-info-circle text-danger", 2:"fa-warning text-warning", 3:"fa-warning text-primary", 4:"fa-check text-success"}[row.status]')
                        td.p-sm {{ row.category }}
                        td.p-sm {{ row.description }}
                        td.p-sm
                            span.pull-left {{ row.action }}
                            em.pull-right.fa.fa-wrench.text-success