#keyList.container-fluid.panel.panel-default.panel-dark(ng-controller='keywordsListController as listc')
    .panel-heading
        .description Keywords Dashboard
        .panel-title.w-70p
            select(selectpicker='', data-live-search='true', ng-model='listc.site.selected')
                option.text-bold(ng-repeat='site in listc.sites') {{ site.name }}
    .panel-wrapper(uib-collapse="keyList")
        .panel-body
            table.table.table-striped(st-table="displayedCollection", st-safe-src="rowCollection")
                thead
                    tr
                        th #
                        th(st-sort="") Keywords
                        th(st-sort="") G
                        th(st-sort="") Y
                        th(st-sort="") M
                        th(st-sort="") Active Pages
                        th(st-sort="") Actions
                tbody
                    tr(ng-repeat="row in displayedCollection")
                        td
                        td
                        td
                        td
                        td
                        td
                        td
