h3.text-center.text-thin Settings

.p
    h4.text-muted.text-thin Themes

    .table-grid.mb
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='app/css/theme-a.css')
                    span.icon-check
                    span.split
                        span.color.bg-info
                        span.color.bg-info
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='app/css/theme-b.css')
                    span.icon-check
                    span.split
                        span.color.bg-primary
                        span.color.bg-primary
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='app/css/theme-c.css')
                    span.icon-check
                    span.split
                        span.color.bg-purple
                        span.color.bg-purple
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='app/css/theme-d.css')
                    span.icon-check
                    span.split
                        span.color.bg-success
                        span.color.bg-success
                    span.color.bg-white
    .table-grid.mb
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='app/css/theme-e.css')
                    span.icon-check
                    span.split
                        span.color.bg-cyan-500
                        span.color.bg-cyan-500
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='app/css/theme-f.css')
                    span.icon-check
                    span.split
                        span.color.bg-pink-500
                        span.color.bg-pink-500
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='app/css/theme-g.css')
                    span.icon-check
                    span.split
                        span.color.bg-blue-grey-500
                        span.color.bg-blue-grey-500
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='app/css/theme-h.css')
                    span.icon-check
                    span.split
                        span.color.bg-blue-grey-900
                        span.color.bg-blue-grey-900
                    span.color.bg-white

.p
    h4.text-muted.text-thin Panels

    .table-grid.mb
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-panel", ng-model="app.layout.panel", value='app/css/panel-a.css')
                    span.icon-check
                    span.split
                        span.color.bg-info
                        span.color.bg-info
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-panel", ng-model="app.layout.panel", value='app/css/panel-b.css')
                    span.icon-check
                    span.split
                        span.color.bg-primary
                        span.color.bg-primary
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-panel", ng-model="app.layout.panel", value='app/css/panel-c.css')
                    span.icon-check
                    span.split
                        span.color.bg-purple
                        span.color.bg-purple
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-panel", ng-model="app.layout.panel", value='app/css/panel-d.css')
                    span.icon-check
                    span.split
                        span.color.bg-success
                        span.color.bg-success
                    span.color.bg-white
    .table-grid.mb
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-panel", ng-model="app.layout.panel", value='app/css/panel-e.css')
                    span.icon-check
                    span.split
                        span.color.bg-cyan-500
                        span.color.bg-cyan-500
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-panel", ng-model="app.layout.panel", value='app/css/panel-f.css')
                    span.icon-check
                    span.split
                        span.color.bg-pink-500
                        span.color.bg-pink-500
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-panel", ng-model="app.layout.panel", value='app/css/panel-g.css')
                    span.icon-check
                    span.split
                        span.color.bg-blue-grey-500
                        span.color.bg-blue-grey-500
                    span.color.bg-white
        .col.mb
            .setting-color
                label
                    input(type="radio", name="setting-panel", ng-model="app.layout.panel", value='app/css/panel-h.css')
                    span.icon-check
                    span.split
                        span.color.bg-blue-grey-900
                        span.color.bg-blue-grey-900
                    span.color.bg-white
