#page_keyword_chart.panel.m0
    .panel-heading.sub-heading
        .panel-title SERP Ranking for Keyword: {{ pkcc.keywordData.keyword }}
        paneltool(tool-close, ng-click='pkcc.hide()')
    .panel-wrapper
        .panel-body
            serp-chart(config='pkcc.chartOptions', height='300')