.bulk-actions.mda-list.bg-white
    .mda-list-item
        label.pull-left Bulk Actions
    .mda-list-item
        em.fa.pull-left
        span.pull-left Disable/Suspend Site
    .mda-list-item
        em.fa.pull-left
        span.pull-left Delete Site
    .mda-list-item
        em.fa.pull-left
        span.pull-left Backup Site
            //- small (SEOgenie Data related to this site)
    .mda-list-item
        em.fa.pull-left
        span.pull-left EXPORT XLS