h3(class="content-heading")
	| Sentence Generator
	small Generate human readable sentences

#generatorPanel.panel.panel-primary.panel-dark
	.panel-heading
		.panel-title
			.btn-group(uib-dropdown='') 
				button#split-button.btn.btn-default(type='button') Action
				button.btn.btn-default(type='button', uib-dropdown-toggle='')
					span.caret
					span.sr-only Split button!
				ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
					li(role='menuitem', uib-tooltip='Remove Page from System Database. This will not delete or affect original CMS Page')
						a(href='#')
							i.fa.fa-trash
							|  Delete
		paneltool(tool-collapse='tool-collapse', tool-refresh='line back-and-forth grow')

	div(class="panel-body", ng-include="'app/views/partials/descriptor.html'", ng-controller="descriptorGeneratorController as desc")
	div(class="panel-footer")
