#page_keyword_chart.panel.m0
    .panel-heading.sub-heading
        .panel-title Keywords for Page: {{ pkpc.keywordData.keyword }}
        paneltool(tool-close, ng-click='pkpc.hide()')
    .panel-wrapper
        .panel-body