h3.content-heading
	| Add New Website
	small You can add Your site into the System

#wizard-panel.panel.panel-primary.panel-dark(ng-controller='addSiteWizardController as waCtrl')
	md-stepper-card-content(class="md-no-padding")
		md-steppers(md-dynamic-height='true', md-stretch-steppers="always", md-selected="waCtrl.selectedStep", md-busy-text="'Processing...'", md-busy="waCtrl.showBusyText")
			ng-include(src="waCtrl.getTemplate('general')")
			ng-include(src="waCtrl.getTemplate('keywords')")
			ng-include(src="waCtrl.getTemplate('confirmation')")