h3.content-heading
	| Privacy Policy

section.col-md-12.col-sm-12.privacy-policy
	p
		| We take your privacy seriously. We respect and protect the privacy of our users and take appropriate steps to safeguard your Personal Information. Use of the SEOgenie website (the “Site”) owned and operated by Archon Technologies Ltd (“ATL” and/or “
		strong SEOgenie
		| ” and/or “
		strong We
		| “), is subject to the provisions of this Privacy Policy (the “
		strong Privacy Policy
		| “).
	p
		span.text-bold Information that We collect
	p
		| As a user of our Site you will be asked to provide certain personal information in addition to data we may collect, including without limitations URL references, keywords references, IP address, ranking & traffic data and contact details such as email or telephone numbers (the “
		strong Personal Information
		| “).
	p
		| Any statistical information generated or non-Personal content you provide to the Site in any manner, including, but not limited to, feedback, data, answers, questions, comments, statistical data, suggestions & ideas, shall be deemed to be non confidential. You understand, acknowledge, and agree that the submission of such information shall in no way prevent the purchase, manufacture, or use of similar products, services, plans, and ideas by ATL, its corporate affiliates, employees, representatives, and service providers, and ATL shall be free to reproduce, use, disclose, and distribute such content without restriction.
	p
		| You further agree that ATL may save and archive any content of any nature posted to the Site.
	p
		span.text-bold Cookies
	p
		| You acknowledge and agree that ATL may use cookies on the Site. A cookie is a piece of text that can be entered into the memory of your hard drive and can store information about your use of our Site (the “
		strong Cookies
		| “). The Cookies will help us make our services more convenient, personalized and more secure. In addition, Cookies may allow us to keep track and retrieve information about any user who acts in contradiction to our privacy policy and terms of use. If you would rather not have Cookies on your computer, you can usually set your browser to deny some but not all Cookies. You can also delete Cookies from your computer at your sole discretion.
	p
		span.text-bold Usage and Disclosure of Information
	p
		| We use the Personal Information for providing you with the services you wish to receive by using the Site as well as for internal purposes, to improve our Site and to better tailor the Site to meet your needs. In addition, We use the Personal Information to analyze Site usage and to deliver to you information about certain promotions, services or items that might interest you. We may use your e-mail address to send you reports and/or to contact you regarding Site notices from time to time.
	p
		| You may review and edit your Personal Information by using your access details (e-mail and password) and also delete a specific website or your entire account and Personal Information from the Site management. You should also be aware that even if you delete your Personal Information, there may remain residual information within our databases, access logs, backup logs and other records, which may or may not contain personally identifiable information.
	p
		| We will not sell, trade, rent, disclose or transfer any of your Personal Information, to any third parties (e.g., advertisers or business partners), except in the following cases:
	p
		| (i) We will receive your permission;
		br
		| 		(ii) We believe in good faith that the law requires such disclosure or transfer.
	p
		| We may at any time add Affiliate partners and third party service providers to our Site, but the sharing of your Personal Information with them will be limited. We assure you that in the event that we may wish to transfer any such Personal Information; We shall notify you before transferring such personal information, so that you will always have a chance to object to such transfer.
	p
		| We may disclose Personal Information or other information related to You, in special cases when We have reason to believe that disclosing such information is necessary to identify, contact or bring legal action against someone who may be violating the Terms of Use, or the EULA, or may be causing injury to or interference with (either intentionally or unintentionally), our rights or property, other users, You, or anyone else that could be harmed by such activities. You thus authorize us to disclose any information about You to law enforcement or other government officials if We, in our sole and absolute discretion, believe that such disclosure is necessary or appropriate.
	p
		span.text-bold Protection of Information
	p
		| Information collected about You is protected in several ways. Access by You to your Personal Information is available through a password and unique username (email address) both selected by you. Your password is encrypted. We strongly advise you to choose a strong password, and not divulge it to anyone. In addition, your Personal Information resides on secured servers that only selected personnel and contractors have access to via a password.
	p
		| Although, We use industry standard practices to protect your privacy, We do not completely ensure, and you should not expect that your Personal Information or any private communications will always remain completely private.
	p
		span.text-bold
			| Disclosure of Personal Information in the Event of a Merger
			br
		br
		| 		We may merge or be acquired by another business entity or may sell all or substantially all of our assets to an acquirer. In the event of such merger, acquisition or sale, We may share some or all or your Personal Information with the acquiring company in order to continue serving you. In such event and if applicable, We will provide notice that such information is transferred and becomes subject to a different privacy policy.
