h3.content-heading.text-bold
    | Keywords
div(ng-controller='keywordsController as kc')
    side-accordion
        side-accordion-item
            div(ng-include="'app/views/partials/keywords-dashboard.html'")
        side-accordion-item
            div(ng-include="'app/views/partials/keywords-list.html'")