h3.content-heading.text-bold
    | Keywords
div(ng-controller='keywordsController as kc')
    side-accordion(active-tab='1')
        side-accordion-item(title='Keywords Dashboard')
            div(ng-include="'app/views/partials/keywords-dashboard.html'")
        side-accordion-item(title='Keywords List')
            div(ng-include="'app/views/partials/keywords-list.html'")