h3.content-heading
    | Keywords Dashboard
    small Generic info about keywords of your site.
side-accordion
    side-accordion-item
        p | one
    side-accordion-item
        p | two
    side-accordion-item
        p | three
