nav
    ul.pagination
        li
            a(ng-click="selectPage(1)")
                em.fa.fa-fast-backward
        li
            a(ng-click="selectPage(currentPage - 1)")
                em.fa.fa-caret-left
        li
            a
                page-select
                | of {{ numPages }}
        li
            a(ng-click="selectPage(currentPage + 1)")
                em.fa.fa-caret-right
        li
            a(ng-click="selectPage(numPages)")
                em.fa.fa-fast-forward