.login
	p.text-center.pv
		img(src="/app/img/logo.png", alt="") 
	form.form-validate(role='form', ng-submit="vm.login()", name='login').mb-lg
		.form-group.has-feedback.pb-sm
			input#Email.form-control(type='email', name="account_email", placeholder='Enter email', autocomplete="on", ng-model="vm.account.email", validator="required,email")
			span.fa.fa-envelope.form-control-feedback.text-muted
		.form-group.has-feedback.pb-sm
			input#Password.form-control(type='password', key-bind="{ enter: 'vm.login()'}", name="account_password", placeholder='Password', ng-model="vm.account.password",  validator="required")
			span.fa.fa-lock.form-control-feedback.text-muted
		.clearfix
			#remember-me.checkbox.c-checkbox.pull-left.mt0
				label
					input(type='checkbox', value='', name="account_remember", ng-model="vm.account.remember")
					span.fa.fa-check
					| Remember Me
			#forgot-pass.pull-right
				a.text-muted(ui-sref="page.auth.recover") Forgot your password?
		
		button.mt-lg.btn.btn-primary.btn-block.md-primary.md-raised.btn-lg.text-uppercase(type='submit', ng-click="vm.login()", validation-submit="login") Login
	.social.text-center.pv
		a.btn.btn-primary.btn-lg.md-ink-ripple.btn-danger.btn-googleplus(ng-click="vm.login()")
			md-tooltip Login with Google
			i.fa.fa-google-plus.text-lg
		a.btn.btn-primary.btn-lg.md-ink-ripple.btn-facebook(ng-click="vm.login()")
			md-tooltip Login with Facebook
			i.fa.fa-facebook.text-lg
		a.btn.btn-purple.btn-lg.md-ink-ripple.btn-yahoo(ng-click="vm.login()")
			md-tooltip Login with Yahoo
			i.fa.fa-yahoo.text-lg
		a.btn.btn-primary.btn-lg.md-ink-ripple.btn-info.btn-twitter(ng-click="vm.login()")
			md-tooltip Login with Twitter
			i.fa.fa-twitter.text-lg

	.alert.alert-danger.text-center(ng-show='vm.authMsg') {{vm.authMsg}}
	p.pt-lg.text-center Need to Signup?
		a(ui-sref="page.auth.register").mt.mb-sm.btn-block.btn-lg.btn.btn-primary.btn-outline Register Now
