.register
	p.text-center.pv Signup to 
		img(src="/app/img/logo.png")
		form.form-validate.mb-lg(role='form',name="reg.registerForm", ng-submit="reg.register()")
			.form-group.has-feedback
				label.text-muted Your email 
				input.form-control(type='email',name="account_email",placeholder='Enter email',ng-model="reg.account.email" validator="required,email")
				span.fa.fa-envelope.form-control-feedback.text-muted
			.form-group.has-feedback
				label.text-muted Password
				input#id-password.form-control(type='password',name="account_password",placeholder='Enter password',ng-model="reg.register.password",validator="required")
				span.fa.fa-lock.form-control-feedback.text-muted
			.clearfix
				.checkbox.c-checkbox.pull-left.mt0
					label
						input(type='checkbox',required='',name="account_agreed",ng-model="reg.account.agreed",validator="required")
						span.fa.fa-check 
						| I agree with the 
						a(href="#") Terms &amp; Privacy
						.text-danger(ng-show="reg.registerForm.account_agreed.$dirty && reg.registerForm.account_agreed.$error.required",class="invalid") You must agree the terms

			button.btn.btn-block.btn-primary.mt-lg(type='submit',validation-submit="reg.registerForm") CREATE ACCOUNT
	.social.text-center.pv
		a.btn.btn-primary.btn-lg.md-ink-ripple.btn-danger.btn-googleplus(ng-click="reg.register()")
			md-tooltip Signup with Google
			i.fa.fa-google-plus.text-lg
		a.btn.btn-primary.btn-lg.md-ink-ripple.btn-facebook(ng-click="reg.register()")
			md-tooltip Signup with Facebook
			i.fa.fa-facebook.text-lg
		a.btn.btn-purple.btn-lg.md-ink-ripple.btn-yahoo(ng-click="reg.register()")
			md-tooltip Signup with Yahoo
			i.fa.fa-yahoo.text-lg
		a.btn.btn-primary.btn-lg.md-ink-ripple.btn-info.btn-twitter(ng-click="reg.register()")
			md-tooltip Signup with Twitter
			i.fa.fa-twitter.text-lg

		.alert.alert-danger.text-center(ng-show='reg.authMsg') {{reg.authMsg}}
	p.pt-lg.text-center Have an account?
			a(ui-sref="page.auth.login").mt.mb-sm.btn-block.btn-lg.btn.btn-primary.btn-outline Login