table.custom-table(ng-controller='websitePagesController as wpCtrl', st-table="detailDisplayedCollection", st-safe-src='wpCtrl.keywordDetailCollection', st-set-filter="additionalFilter", st-filtered-collection='keywordPage')
    thead.table-control
        tr
            td.text-right(colspan="7")
                .pull-left.ml.mda-input-group
                    input#searchForpageUrl.mda-form-control(type='text', st-search='pageUrl', placeholder='Filter/Search', ng-click="wpCtrl.showDetailAdditionalFilter=true")
                    span.mda-input-group-addon
                        em.fa.fa-search
                    overlay-popup#keyword_page(active='wpCtrl.showDetailAdditionalFilter', width='450')
                        div(ng-include="'app/components/keywords/manage/templates/pageFilter.html'")
                .pull-left
                    fiter-condition(condition-for='pageUrl')
                .pull-left.pl.filter-title Filter
                .pull-left.ml
                    md-switch.m0(ng-model='wpCtrl.detailFilterOn', aria-label='filter', uib-tooltip='Reset Filter', tooltip-enable='wpCtrl.detailFilterOn',  st-reset='', ng-disabled='!wpCtrl.detailFilterOn', ng-click='wpCtrl.resetPageFilter()')
                .pull-right(st-pagination='', st-items-by-page="wpCtrl.detailNumberOfRows.value", st-template="app/components/_common/templates/pagination.custom.html", st-page-change="wpCtrl.detailCurrentPage = newPage")
                .pull-right.display-rows
                    label Display
                    label
                        select(selectpicker='', ng-model="wpCtrl.detailNumberOfRows" ng-options='item.label for item in wpCtrl.detailItemsByPage')
                .pull-right.mr(style='padding-top:2px;')
                    span Export XLS
                    em.fa.fa-file-excel-o
    thead
        tr
            th.text-center.row-index #
            th(st-sort="pageUrl") Site Pages
            th.text-center(st-sort="keywords") Keywords
            th.text-center(st-sort="violate") SEO Violations
            th.text-center Score
    tbody
        tr(ng-repeat="detail in detailDisplayedCollection", ng-class='{true: "bg-blue-100", false:""}[detail.assignedState]', ng-click='wpCtrl.onSelectKeywordDetail(detail, $event)')
            td.text-center {{ ((wpCtrl.detailCurrentPage-1) * wpCtrl.detailNumberOfRows.value) + $index + 1 }}
            td.keyword-col
                .pull-left.keyword-label
                    span.m0 {{ detail.pageUrl }}
                    i.fa.fa-caret-down.ml-sm(ng-click='wpCtrl.openPageActionPane(detail, $event)')
                    overlay-popup(active='detail.showActions', width='135')
                        div(ng-include="'app/components/keywords/manage/templates/pageActions.html'")
                .pull-right.keyword-control
                    label.m0.pull-right
                        md-switch(ng-model='detail.category.promoted', aria-label='auto', uib-tooltip='{{{true:"Keyword Auto-Promotion ON", false:"Keyword Auto-Promotion OFF"}[detail.category.promoted]}}', ng-click='wpCtrl.setManualPromotion(detail, $event)')
                    em.fa.fa-anchor.pull-right(ng-if='detail.category.default', uib-tooltip='Default Keyword, will appear on all Pages with no suitable Keywords', ng-click='$event.stopPropagation()')
                    em.fa.fa-bookmark-o.pull-right(ng-if='detail.category.forced', uib-tooltip='Force this Keyword Promotion and Assignment to Pages despite its poor Significance or Suitability score', ng-click='$event.stopPropagation()')
            td.text-center.page-keyword-col
                span(uib-tooltip='{{ detail.auto_keywords + detail.manual_keywords }} Keywords Assigned to Page, {{detail.manual_keywords}} Assigned Manually') {{ detail | pageKeywordNumber }}
                em.fa.fa-caret-down.text-grey(ng-click='wpCtrl.openPageKeywordPopup(detail, $event)')
                overlay-popup(active='detail.showKeywordsPopup', width='135')
                    div(ng-include="'app/components/keywords/manage/templates/pageKeywordPopup.html'")
            td.text-center.seo-violation-col(ng-click='wpCtrl.openKeywordViolationPopup(detail, $event)')
                em.fa(ng-class='{1:"fa-check text-success", 2:"fa-warning text-warning", 3:"fa-info-circle text-danger"}[detail.violate]')
                em.fa.fa-caret-down.text-grey
            td.score-col
                .color-bar
                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[detail.ranking]', uib-tooltip="SERP Ranking, Page {{row.activepages}}: Position {{row.g}}")
                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[detail.significance]', uib-tooltip="Significance: 34%")
                    .flex(ng-class='{1:"bg-red-500", 2:"bg-yellow-700", 3:"bg-green-500", 4:"bg-green-300"}[detail.suitability]', uib-tooltip="Suitability: 68%")