h3.content-heading.text-bold
    | Keywords
div(ng-controller='keywordsController as kc')
    side-accordion(active-tab='kc.activeTab')
        side-accordion-item.custom-heading(name='Keywords Dashboard', href='app/keywords/dashboard')
            div(ng-include="'app/components/keywords/dashboard/templates/keywords-dashboard.html'")
        side-accordion-item.custom-heading(name='Keywords List', href='app/keywords/list')
            div(ng-include="'app/components/keywords/manage/templates/keywords-list.html'")
        side-accordion-item.custom-heading(name='Add Keywords', href='app/keywords/add-keywords')
            div(ng-include="'app/components/keywords/addkeyword/templates/add-keywords.html'")