h3(class="content-heading")
	| Sentence Structure Parameters
	small Words used for sentence generation

div(class="panel panel-primary panel-dark", id="sentenceParametersPanel", ng-controller="sentenceParametersController as sp")
	div(class="panel-heading")
		div(class="panel-title")
			.btn-group(uib-dropdown='') 
				button#split-button.btn.btn-default(type='button') Action
				button.btn.btn-default(type='button', uib-dropdown-toggle='')
					span.caret
					span.sr-only Split button!
				ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
					li(role='menuitem')
						a(href='#')
							i.fa.fa-trash
							|  Delete
		paneltool(tool-collapse="tool-collapse", tool-refresh="line back-and-forth grow")
	div(class='panel-body', ng-include="'app/views/partials/parameters.html'")
	div(class='panel-footer')
	span(class="text-bold")
		| Total: 
		i(class="fa fa-sum")
		|  = 
		div(class="label.label.label-info")
		| 45
