h3.content-heading.text-bold
    | Websites Dashboard
#websites_dashboard.panel(ng-controller='websiteDashController as wdCtrl')
    .panel-wrapper
        .panel-body
            .row
                .col-md-6
                    #websites_statistics.panel
                        .panel-heading.sub-heading
                            .panel-title 
                                | Statistics
                            paneltool(tool-collapse, ng-init="websites_statistics=false")
                        .panel-wrapper(uib-collapse="websites_statistics")
                            .panel-body.p0
                                ul.list-group.m0
                                    li.list-group-item
                                        span.badge.bg-info.text-center 77
                                        | Active Websites
                                    li.list-group-item
                                        span.badge.bg-danger.text-center 4
                                        | None Active Websites
                                    li.list-group-item
                                        span.badge.bg-info.text-center 4
                                        | Average Number of Keywords Per Websites
                                    li.list-group-item
                                        span.badge.bg-info.text-center 77
                                        | Average Number of Pages Per Websites
                                    li.list-group-item
                                        span.badge.bg-info.text-center 87
                                        a(ng-click='wdCtrl.goManagePage("best")') Best performing Websites
                                    li.list-group-item
                                        span.badge.bg-danger.text-center 47
                                        a(ng-click='wdCtrl.goManagePage("least")') Least performing Websites
                .col-md-6
                    #websites_sitemap_info.panel
                        .panel-heading.sub-heading
                            .panel-title 
                                | SiteMaps Info
                            paneltool(tool-collapse, ng-init="websites_sitemap_info=false")
                        .panel-wrapper(uib-collapse="websites_sitemap_info")
                            .panel-body.p0
                                ul.list-group.m0
                                    li.list-group-item
                                        span.badge.bg-info.text-center 77
                                        | Active Site Maps
                                    li.list-group-item
                                        span.badge.bg-info.text-center 4
                                        | Number of SiteMap Search Engines Submission 30 Days
                                    li.list-group-item
                                        span.badge.bg-danger.text-center 4
                                        | None Active / Missing Sitemaps
                                    li.list-group-item
                                        span.badge.bg-info.text-center 77
                                        | Active Robot.txt
                                    li.list-group-item
                                        span.badge.bg-danger.text-center 77
                                        | None Active / Missing Robot.txt
            .row.row-eq-height
                .col-md-6
                    #websites_search_engine.panel
                        .panel-heading.sub-heading
                            .panel-title 
                                | Search Engines Default Settings 
                            paneltool(tool-collapse, ng-init="websites_search_engine=false")
                        .panel-wrapper(uib-collapse="websites_search_engine")
                            .panel-body.p-sm
                                | Monitored Search Engine
                                em.icon-question
                                .row.serp-item(ng-repeat='item in wdCtrl.seViews')
                                    .col-xs-4
                                        select(selectpicker='', data-live-search='true', data-dropup-auto="false", ng-model='item.selectedEngine', ng-change="wdCtrl.changeDomains(item)")
                                            option(ng-repeat='engine in item.engines', data-icon='{{engine.icon}}') {{ engine.name }}
                                    .col-xs-7.p0
                                        select(selectpicker='', data-live-search='true', data-dropup-auto="false", ng-model='item.selectedDomain', ng-options='(item.selectedEngine + domain.Name) for domain in item.domains', ng-change="wdCtrl.selectDomain(item)", data-size="8")
                                    .col-xs-1.pl0
                                        em.fa.fa-check(ng-if='item.domainSelected')
                                        .spinner(ng-show='item.domainChecking')
                                            .bounce1
                                            .bounce2
                                            .bounce3
                                .comment
                                    em Please select up to 3 search engines to monitor your Keywords SERP ranking positions
                .col-md-6
                    #websites_package.panel
                        .panel-heading.sub-heading
                            .panel-title Subscription Package Utilization Limits
                            paneltool(tool-collapse, ng-init='websites_package=false')
                        .panel-wrapper(uib-collapse='websites_package')
                            .panel-body
                                .row.promoted-bar.ml0.mt-md
                                    .col-sm-10.col-xs-9.pl0
                                        uib-progressbar.progress-striped(type='danger', value='50')
                                            span Promoted Keywords 50%
                                    .col-sm-1.col-xs-2.text-left.p0
                                        p 250
                                    .col-sm-1.col-xs-1.p0
                                        em.icon-question
                                .row.monitored-bar.ml0.mt-md.mb-md
                                    .col-sm-10.col-xs-9.pl0
                                        uib-progressbar.progress-striped(type='warning', value='71')
                                            span Monitored Keywords 71%
                                    .col-sm-1.col-xs-2.text-left.p0
                                        p 350
                                    .col-sm-1.col-xs-1.p0
                                        em.icon-question
                                a(href='', ng-click='upgradePackage()')
                                    | Upgrade Package